﻿/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

.hidden { display: none; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* styles for validation helpers */

.field-validation-error { color: #b94a48; }

.field-validation-valid { display: none; }

input.input-validation-error { border: 1px solid #b94a48; }

input[type="checkbox"].input-validation-error { border: 0 none; }

.validation-summary-errors { color: #b94a48; }

.validation-summary-valid { display: none; }

.navbar {
  border-color: #000000;
  border-left: 0 none;
  border-right: 0 none;
  border-top: 0 none;
}

#Title {
  color: #ffffff;
  font-size: x-large;
  padding-left: 10px;
  padding-top: 10px;
}

.footer {
  clear: both;
  padding-top: 15px;
}

/* Execute button in the search dropdown */

.execute-btn {
  background-color: #3276b1;
  border-color: #173753;
  float: left;
}

/* #items, .item, and .item:hover are used in the search dropdown */

#items { width: 100px; }

.item {
  float: left;
  height: 40px;
  overflow: hidden;
  width: 100px;
}

.item:hover > .item-extend {
  background: #428bca;
  border-radius: 3px;
  color: #000000;
  float: left;
  margin-top: -18px;
  padding: 5px;
  position: absolute;
  width: 200px;
}

#navMenu { float: left; }

.currentMenuOption { background-color: #7099C3; }

#navMenu li:hover { background-color: #b0e0e6 !important; }

#navMenu .active, #navMenu .active a { background-color: #7099C3 !important; }

.filterTypes { width: 250px; }

.bold {
  font-weight: bold;
}