﻿@using SICommon.SPModels
@model SICommon.SPModels.EditSuppliers

@{
  var supplier = Model.Suppliers.First();
  var citiesSection = new SectionModel {
    Name = "supplierCities",
    RowFields = new List<string> {"City", "CountryCode", "OperatorId", "Opmaster"},
    RowHeaders = new List<string> {"City", "Country Code", "Operator Id", "Opmaster"},
    Title = "Supplier Cities",
    ValueList = supplier.SupplierCities
  };
  var countriesSection = new SectionModel {
    Name = "supplierCountries",
    RowFields = new List<string> {"CountryCode", "OperatorId", "Opmaster"},
    RowHeaders = new List<string> {"Country Code", "Operator Id", "Opmaster"},
    Title = "Supplier Countries",
    ValueList = supplier.SupplierCountries
  };

  var emailSettingSection = new SectionModel {
    Name = "supplierEmailSetting",
    RowFields = new List<string> {"ActionedRequests", "EmailOnly", "LastMinute", "PendingRequests"},
    RowHeaders = new List<string> {"Actioned Requests", "Email Only", "Last Minute", "Pending Requests"},
    Title = "Supplier Email Setting",
    ValueList = supplier.SupplierEmailSetting == null ? new List<object>() : new List<object> {supplier.SupplierEmailSetting}
  };
  var emailsSection = new SectionModel {
    Name = "supplierEmails",
    RowFields = new List<string> {"Country", "Email", "OperatorId", "Opmaster"},
    RowHeaders = new List<string> {"Country Code", "Email", "Operator Id", "Opmaster"},
    Title = "Supplier Emails",
    ValueList = supplier.SupplierEmails
  };
  var operatorIdsSection = new SectionModel {
    Name = "supplierOperatorIds",
    RowFields = new List<string> {"OperatorId"},
    RowHeaders = new List<string> {"Operator Id"},
    Title = "Supplier Operator Ids",
    ValueList = supplier.SupplierOperatorIds
  };
  var opmastersSection = new SectionModel {
    Name = "supplierOpmasters",
    RowFields = new List<string> {"Opmaster"},
    RowHeaders = new List<string> {"Opmaster"},
    Title = "Supplier Opmasters",
    ValueList = supplier.SupplierOpmasters
  };
  var systemsSection = new SectionModel {
    Name = "supplierSystems",
    RowFields = new List<string> {"SystemCode"},
    RowHeaders = new List<string> {"System Code"},
    Title = "Supplier Systems",
    ValueList = supplier.SupplierSystems
  };
  var tasksSection = new SectionModel {
    Name = "supplierTasks",
    RowFields = new List<string> {"Frequency", "Name", "NextRunDateTime"},
    RowHeaders = new List<string> {"Fruquency (sec)", "Task", "Next Run", "Settings"},
    Title = "Supplier Tasks",
    ValueList = supplier.SupplierTasks
  };
  var usersSection = new SectionModel {
    Name = "supplierUsers",
    RowFields = new List<string> {"UserIPs,IP", "Password", "UserRoles,Role", "UserName"},
    RowHeaders = new List<string> {"IP", "Password", "Role", "Name"},
    Title = "Supplier Users",
    ValueList = supplier.SupplierUsers
  };
}

<div id="editSupplier">
  <h4>@(supplier.Name + (supplier.IsOphion ? "(Ophion)" :""))</h4>
  <div id="currentValues">
    @Html.Partial( "~/SupplierPortal/Views/EditSettings/Section.cshtml", citiesSection )
    @Html.Partial( "~/SupplierPortal/Views/EditSettings/Section.cshtml", countriesSection )
    @Html.Partial( "~/SupplierPortal/Views/EditSettings/Section.cshtml", emailsSection )
    @Html.Partial( "~/SupplierPortal/Views/EditSettings/Section.cshtml", emailSettingSection )
    @Html.Partial( "~/SupplierPortal/Views/EditSettings/Section.cshtml", operatorIdsSection )
    @Html.Partial( "~/SupplierPortal/Views/EditSettings/Section.cshtml", opmastersSection )
    @Html.Partial( "~/SupplierPortal/Views/EditSettings/Section.cshtml", systemsSection )
    @Html.Partial( "~/SupplierPortal/Views/EditSettings/Section.cshtml", tasksSection )
    @Html.Partial( "~/SupplierPortal/Views/EditSettings/Section.cshtml", usersSection )
  </div>
  <div id="newValues">
    @Html.Partial( "~/SupplierPortal/Views/EditSettings/EditableSection.cshtml", citiesSection )
    @Html.Partial( "~/SupplierPortal/Views/EditSettings/EditableSection.cshtml", countriesSection )
    @Html.Partial( "~/SupplierPortal/Views/EditSettings/EditableSection.cshtml", emailsSection )
    @Html.Partial( "~/SupplierPortal/Views/EditSettings/EditableSection.cshtml", emailSettingSection )
    @Html.Partial( "~/SupplierPortal/Views/EditSettings/EditableSection.cshtml", operatorIdsSection )
    @Html.Partial( "~/SupplierPortal/Views/EditSettings/EditableSection.cshtml", opmastersSection )
    @Html.Partial( "~/SupplierPortal/Views/EditSettings/EditableSection.cshtml", systemsSection )
    @Html.Partial( "~/SupplierPortal/Views/EditSettings/EditableSection.cshtml", tasksSection )   
    <button type="submit" id="save" title="Click to save Supplier changes">Save</button>
    <br>
    @Html.Partial("~/SupplierPortal/Views/EditSettings/EditableSection.cshtml", usersSection)
    <button type="submit" id="saveUsers" title="Click to save user changes">Save</button>
  </div>
  
</div>