﻿@model SICommon.SPModels.EditSuppliers

@{
  ViewBag.Title = "Supplier Portal Maintenance";
  var selectionOptions = new Dictionary<string, object> {
    {"autocomplete", "off"}
  };
}


<div id="suppliers" class="container-fluid">
  <div>
    @Html.DropDownList( "chooseSupplierToEdit", new SelectList( Model.Suppliers.OrderBy( supplier => supplier.Name ), "Id", "Name" ), "Choose Supplier to Edit", selectionOptions )
  </div>
  <label for="isOphion">
    <input type="checkbox" id="isOphion"/>Is Ophion
  </label>
  <label for="isManifest">
    <input type="checkbox" id="isManifest" checked="checked"/>Manifest Supplier
  </label>
  <input id="addSupplierName" value="Supplier Name"/>
  <button type="submit" id="addSupplier" title="Click to add Supplier">Add</button>
</div>

<div id="supplierDetails"></div>
