﻿@using SICommon.SPModels
@model SICommon.SPModels.SectionModel

@if ( Model.ValueList == null ) {
  return;
}

<div class="editSection">
  <h3>@Model.Title</h3>
  <div class="container-fluid @Model.Name">
    <div class="row rowHeader">
      @{
        foreach ( var rowHeader in Model.RowHeaders ) {
          <div class="col-md-2">@rowHeader</div>
        }
      }
    </div>
    @{
      foreach ( var value in Model.ValueList ) {
        <div class="removeRow glyphicon glyphicon-minus"></div>
        <div class="row" state="Modified">
          @{
            long rowId = 0;
            try {
              rowId = ( long )value.GetType().GetProperty( "Id" ).GetValue( value );
            } catch {}
            <input class="hidden" type="text" value="@rowId" />
            foreach ( var rowField in Model.RowFields ) {
              var rowValue = value.GetType().GetProperty( rowField.Split( ',' )[0] ).GetValue( value );
              var enumRowValueList = rowValue as List<SICommon.Enums.UserRole>;
              List<string> rowValueList;
              if ( enumRowValueList != null ) {
                rowValueList = enumRowValueList.ConvertAll( item => item.ToString() );
              } else {
                rowValueList = rowValue as List<string>;
              }
              if ( rowValueList != null ) {
                <input class="col-md-2" type="text" value="@string.Join( ",", rowValueList )" />
              } else {
                <input class="col-md-2" type="text" value="@rowValue.ToString()" />
              }
            }
          }
        </div>
      }
      <div class="row emptyRow" state="Added">
        @{
          <input class="hidden" type="text" value="0" />
          for ( var i = 0; i < Model.RowFields.Count(); i++ ) {
            <input class="col-md-2" type="text" value="" />
          }
        }
      </div>
    }
  </div>
  <div class="addRow glyphicon glyphicon-plus"></div>
</div>