﻿@model SICommon.SPModels.SectionModel

@if ( Model.ValueList == null ) {
  return;
}

<div class="section">
  <h3>@Model.Title</h3>
  <div class="container-fluid">
    <div class="row">
      @{
        foreach ( var rowHeader in Model.RowHeaders ) {
          <div class="col-md-2">@rowHeader</div>
        }
      }
    </div>
    @{
      foreach ( var value in Model.ValueList ) {
        <div class="row">
          @{
            foreach ( var rowField in Model.RowFields ) {
              var rowValue = value.GetType().GetProperty( rowField.Split( ',' )[0] ).GetValue( value ); 
              var enumRowValueList = rowValue as List<SICommon.Enums.UserRole>;
              List<string> rowValueList;
              if ( enumRowValueList != null ) {
                rowValueList = enumRowValueList.ConvertAll( item => item.ToString() );
              } else {
                rowValueList = rowValue as List<string>;
              }
              if ( rowValueList != null ) {
                <div class="col-md-2">@string.Join( ",", rowValueList )</div>
              } else {
                <div class="col-md-2">@rowValue</div>
              }
            }
          }
        </div>
      }
    }
  </div>
</div>