﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error Page</title>
</head>
<body>
    <div>
    <h1>An Error Has Occurred</h1>
        An unexpected error occurred on our website. The website administrator has been notified.
    </div>
</body>
</html>
