﻿
<div ng-app="quickSearchApp">
    <div ng-controller="quickSearchController">
        <button id="quickSearchAreaBtn" type="button" class="btn btn-primary" ng-click="ngQuickSearch()">Go</button>
    </div>
    <!-- Loading Spinner HTML -->
    <div id="taskLoader">
        @Html.Partial("~/Manifest/Views/Admin/AngularServices.cshtml")
    </div>
</div>
