﻿@model SICommon.AEPortalModels.ActiveFilter
@{
  var customSearch = Model.FilterSettings.filterToCustomSearch.ContainsKey( Model.FilterKey ) ? Model.FilterSettings.filterToCustomSearch[Model.FilterKey] : "";
  var useOnce = Model.FilterSettings.filterToOnlyUseOnce.ContainsKey( Model.FilterKey ) && Model.FilterSettings.filterToOnlyUseOnce[Model.FilterKey] ? "true" : "";
}
<div data-key="@Model.FilterKey" data-customsearch="@customSearch" data-useonce="@useOnce" data-searchvalue="@Model.SearchValue">
  @Model.FilterSettings.filterToName[Model.FilterKey] : @Model.SearchValue<span class="glyphicon glyphicon-remove"></span>
</div>