﻿@model List<SICommon.AEPortalModels.TaskAlert>

@{
  foreach ( var taskAlert in Model ) {
    <div class="taskAlert" data-alertid="@taskAlert.Id">
      @if ( !taskAlert.IsDismissed ) {
        <input class="alertMessage" type="text" value="@taskAlert.Message"/>
        <input class="alertDate dateTimePicker" type="text" value="@taskAlert.ShowOnDateTime.ToString("s")"/>
        <button class="btn btn-default dismissAlert">Dismiss</button>
        <span class="alertChange"></span>
      }
    </div>
  }
}

