﻿@using SICommon.AEPortalModels
@using Newtonsoft.Json
@using SICommon.Enums
@using SICommon.Extensions
@model SICommon.AEPortalModels.FilterData

@functions {
    private MvcHtmlString AddFilter(string filterKey, string searchValue) {
        var activeFilter = new ActiveFilter {
            FilterKey = filterKey,
            FilterSettings = Model.FilterSettings,
            SearchValue = searchValue
        };
        return Html.Partial("~/Manifest/Views/Tasks/ActiveFilter.cshtml", activeFilter);
    }
}

@{
    var selectionOptions = new Dictionary<string, object> {
	{"autocomplete", "off"}
  };
}
<ul id="filterValues" class="nav nav-tabs">
    <li role="presentation" class="active">
        <a>Default</a>
    </li>
    <li role="presentation">
        <a>Emails</a>
    </li>
    <li style="float:right;">
        <button type="button" class="btn btn-default pull-right" aria-label="Right Align"><span class="glyphicon glyphicon-cog" style=""></span></button>
    </li>
</ul>

<div id="searchArea" class="panel panel-default">
    <div class="panel-heading">Search</div>
    <div id="searchParams" class="panel-body">
        <div id="orderBy" class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Request Date
            </button>
            <ul class="dropdown-menu">
                @{foreach (var options in Model.FilterSettings.orderByOptions) {
                <li>
                    <a data-key="@options.Key">@options.Value</a>
                </li>}
                }
            </ul>
            <span class="glyphicon glyphicon-arrow-up">Ascending</span>
            <span class="glyphicon glyphicon-arrow-down hidden">Decending</span>
        </div>
        <div id="searchFields" class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="searchFiedsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Search Fields
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="searchFiedsDropdown">
                @{foreach (var filterNamePair in Model.FilterSettings.filterToName) {
                        var customSearch = Model.FilterSettings.filterToCustomSearch.ContainsKey(filterNamePair.Key) ? Model.FilterSettings.filterToCustomSearch[filterNamePair.Key] : "";
                        var useOnce = Model.FilterSettings.filterToOnlyUseOnce.ContainsKey(filterNamePair.Key) && Model.FilterSettings.filterToOnlyUseOnce[filterNamePair.Key] ? "true" : "";
                        <li>
                            <a data-key="@filterNamePair.Key" data-customsearch="@customSearch" data-useonce="@useOnce">@filterNamePair.Value</a>
                        </li>}
                }
            </ul>
        </div>

        <div id="addFilterArea" class="hidden">
            <span id="filterInfo" class="hidden"></span>
            <input class="filterInput hidden" type="text" />
            <div id="reasonFilter" class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Pick Reason
                </button>
                <ul class="dropdown-menu">
                    @{foreach (var item in new ReasonFilter().ToDictionary()) {
                    <li>
                        <a data-key="@item.Key">@item.Value</a>
                    </li>}
                    }
                </ul>
            </div>
            <div id="supplierSearch" class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Supplier
                </button>
                <ul class="dropdown-menu">
                    @{foreach (var supplier in Model.Suppliers.OrderBy(supplier => supplier.Name)) {
                    <li>
                        <a data-key="@supplier.Id">@supplier.Name</a>
                    </li>}
                    }
                </ul>
            </div>
            <div id="supplierType" class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Supplier Type
                </button>
                <ul class="dropdown-menu">
                    @{foreach (var item in new SupplierType().ToDictionary()) {
                    <li>
                        <a data-key="@item.Key">@item.Value</a>
                    </li>}
                    }
                </ul>
            </div>
            <div id="systemCode" class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Pick System
                </button>
                <ul class="dropdown-menu">
                    @{foreach (var item in new SystemCode().ToDictionary()) {
                            if (!Model.TaskFilters.SystemCodes.Contains((SystemCode)Enum.Parse(typeof(SystemCode), item.Key))) {
                            <li>
                                <a data-key="@item.Key">@item.Value</a>
                            </li>}
                        }
                    }
                </ul>
            </div>
            <div id="taskStatus" class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Task Status
                </button>
                <ul class="dropdown-menu">
                    @{foreach (var item in new AETaskStatus().ToDictionary()) {
                    <li>
                        <a data-key="@item.Key">@item.Value</a>
                    </li>}
                    }
                </ul>
            </div>
            <div id="dateRange" class="hidden">
                <input id="lowerBound" class="datePicker" type="text" />
                To
                <input id="upperBound" class="datePicker" type="text" />
            </div>
            <button id="addFilter" class="btn btn-default hidden">Add</button>
        </div>
        <div id="quickSearchArea" class="input-group">
            <span id="quickSearchLabel" class="input-group-addon">Quick Search</span>
            <input id="quickSearch" aria-describedby="quickSearchLabel" class="form-control" type="text">
        </div>
        @Html.Partial("~/Manifest/Views/Tasks/_quickSearch.cshtml")
        
        <div id="quickSearchResults"></div>
        <div id="activeFilters" data-taskfilters="@JsonConvert.SerializeObject(Model.TaskFilters)">
            @{if (!string.IsNullOrEmpty(Model.TaskFilters.AssignedTo)) {
            @AddFilter("AssignedTo", Model.TaskFilters.AssignedTo)
}
                if (Model.TaskFilters.BusinessAccounts.Any()) {
                    foreach (var businessAccount in Model.TaskFilters.BusinessAccounts) {
                    @AddFilter("BuisnessAccounts", businessAccount)
}
                }
                if (Model.TaskFilters.CarGroups.Any()) {
                    foreach (var carGroup in Model.TaskFilters.CarGroups) {
                    @AddFilter("CarGroup", carGroup)
}
                }
                if (!string.IsNullOrEmpty(Model.TaskFilters.LastName)) {
                @AddFilter("LastName", Model.TaskFilters.LastName)
}
                if (Model.TaskFilters.OperatorIds.Any()) {
                    foreach (var operatorId in Model.TaskFilters.OperatorIds) {
                    @AddFilter("OperatorIds", operatorId)
}
                }
                if (Model.TaskFilters.Opmasters.Any()) {
                    foreach (var opmaster in Model.TaskFilters.Opmasters) {
                    @AddFilter("Opmasters", opmaster)
}
                }
                if (Model.TaskFilters.PickupCountries.Any()) {
                    foreach (var pickupCountry in Model.TaskFilters.PickupCountries) {
                    @AddFilter("PickupCountries", pickupCountry)
}
                }
                if (Model.TaskFilters.PickupDateRange != null) {
                @AddFilter("PickupDateRange",
						Model.TaskFilters.PickupDateRange.LowerBound.ToString("s") +
						" To " +
						Model.TaskFilters.PickupDateRange.UpperBound.ToString("s"))
}
                if (Model.TaskFilters.RateCodes.Any()) {
                    foreach (var rateCode in Model.TaskFilters.RateCodes) {
                    @AddFilter("RateCodes", rateCode)
}
                }
                if (Model.TaskFilters.ReasonFilter.HasValue) {
                @AddFilter("ReasonFilter", Model.TaskFilters.ReasonFilter.ToString())
}
                if (Model.TaskFilters.TaskStatus.HasValue) {
                @AddFilter("TaskStatus", Model.TaskFilters.TaskStatus.ToString())
}
                if (Model.TaskFilters.SupplierIds.Any()) {
                    foreach (var supplierId in Model.TaskFilters.SupplierIds) {
                    @AddFilter("SupplierIds", supplierId.ToString())
}
                }
                if (Model.TaskFilters.SupplierType.HasValue) {
                @AddFilter("SupplierType", Model.TaskFilters.SupplierType.ToString())
}
                if (Model.TaskFilters.SystemCodes.Any()) {
                    foreach (var systemCode in Model.TaskFilters.SystemCodes) {
                    @AddFilter("SystemCodes", systemCode.ToString())
}
                }
                if (Model.TaskFilters.VoucherId != null) {
                @AddFilter("VoucherId", Model.TaskFilters.VoucherId)
}
            }
        </div>
    </div>
</div>