﻿@model SICommon.AEPortalModels.RelatedTasksDisplay


<ul id="relatedTasks" class="nav nav-tabs">
  @{
    foreach ( var taskDisplay in Model.TaskDisplays.OrderBy( taskDisplay => taskDisplay.AETask.CreatedDateTime ) ) {
      var task = taskDisplay.AETask;
      <li role="presentation" class="@( task.Id == Model.TaskId ? "active" : "" ) @( task.IsActive ? "" : "taskClosed" )" data-task-id="@task.Id">
        <a>@task.SystemCode@task.VoucherNumber @task.Supplier.Name </a>
      </li>
    }
  }
</ul>

@{
  foreach ( var taskDisplay in Model.TaskDisplays.OrderBy( taskDisplay => taskDisplay.AETask.CreatedDateTime ) ) {
    var task = taskDisplay.AETask;
    <div class="taskDisplay @( task.Id == Model.TaskId ? "" : "hidden")" data-task-id="@task.Id">
      @Html.Partial( "~/Manifest/Views/Tasks/TaskDisplay.cshtml", taskDisplay )
    </div>
  }
}

<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        Assignee <select></select>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="changeAssignee" class="btn btn-default" data-dismiss="modal">Change</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="manageAlertsModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="taskAlertHeader">
          <div>Message</div>
          <div>Show On Datetime</div>
        </div>
        <div id="activeAlerts"></div>
        <div id="addAlertArea">
          <input id="addAlertMessage" type="text"/>
          <input id="addAlertDate" class="dateTimePicker" type="text"/>
          <button id="addAlert" disabled="disabled" class="btn btn-default">Add alert</button>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="commentsModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="emailsModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="backCommentModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <textarea></textarea>
        <button data-dismiss="modal">Add Comment</button>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addConfModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <span>Voucher Status</span>
        <ul id="confStatus" class="nav nav-pills nav-stacked">
          <li role="presentation" class="attention">
            <a>Attention</a>
          </li>
          <li role="presentation" class="cancel">
            <a>Canceled</a>
          </li>
          <li role="presentation" class="create active">
            <a>Confirmed</a>
          </li>
          <li role="presentation" class="pending">
            <a>Pending</a>
          </li>
        </ul>
        <span>Reservation Number</span>
         <input maxlength="20" type="text" value="@(Model.TaskDisplays.FirstOrDefault() == null ? "" : Model.TaskDisplays.First().Voucher.ReservationNumber)"/>

        <span>Comment</span> <textarea></textarea>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="submitConfirmation" class="btn btn-default" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="emailTemplateOptions" class="dropdown">
          <button id="generateEmailMessage" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Pick Template
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="searchFiedsDropdown">
            <li>
              <a data-template="snapshotTemplate">Email Snapshot</a>
            </li>
            <li>
              <a data-template="voucherTemplate">Email Voucher</a>
            </li>
          </ul>
        </div>
        <div id="emailMessage">
          <div>
            From: <span id="emailFromAddress"></span>
          </div>
          <div>
            To <textarea id="emailToAddress" type="text"></textarea>
          </div>
          <div>
            CC <textarea id="emailCCAddress" type="text"></textarea>
          </div>
          <div>
            Subject:<input id="emailSubject" type="text"/>
          </div>
          <div>
            Body <textarea id="emailBody" type="text"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="sendEmail" class="btn btn-default" data-dismiss="modal">Send Email</button>
      </div>
    </div>
  </div>
</div>