﻿@model SICommon.AEPortalModels.TasksDisplay

<ul id="tasks" class="list-group" tabindex="-1">
  @{
    foreach ( var task in Model.Tasks ) {
      <li class="list-group-item" data-task-id="@task.Id" data-systemcode="@task.SystemCode" data-vouchnum="@task.VoucherNumber">@task.SystemCode@task.VoucherNumber @task.Supplier.Name</li>
    }
  }
</ul>