﻿@model SICommon.AEPortalModels.TasksDisplay

@{
    ViewData.Add("Title", "Manifest");
}

@Html.Partial( "~/Manifest/Views/Tasks/FilterArea.cshtml", Model.FilterData )

<div ng-app="taskApp">
    <div ng-controller="taskController">
        <div id="tasksArea">
            @Html.Partial("~/Manifest/Views/Tasks/TasksDisplay.cshtml", Model)
            <div id="taskArea"></div>
        </div>
    </div>
</div>