﻿@using AEPortal.Manifest.Helpers
@using SICommon.Enums
@using SICommon.Extensions
@model SICommon.AEPortalModels.TaskDisplay

@{
  var currentVoucher = Model.Voucher;
  var snapshots = Model.Snapshots;
  var task = Model.AETask;
}

<div class="taskTopRow">
  @if ( task.IsActive ) {
    <button class="assign btn btn-default" data-assignee="@(task.AssignedTo ?? "Unassigned")">@(task.AssignedTo ?? "Unassigned")</button>
    <button class="btn btn-default markTaskDone">Mark Task As Done</button>
    <button class="btn btn-default manageAlerts">Manage Alerts</button>
    <div class="dropdown taskStatusArea">
      <button class="btn btn-default dropdown-toggle taskStatusDropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Status: @task.Status
      </button>
      <ul class="dropdown-menu" aria-labelledby="taskStatusDropdown">
        @{
          foreach ( var status in (AETaskStatus[]) typeof ( AETaskStatus ).GetEnumValues() ) {
            if ( status != AETaskStatus.Closed && status != AETaskStatus.Resolved && status != AETaskStatus.Active ) {
              <li data-status="@status">
                <a>@status</a>
              </li>
            }
          }
        }
      </ul>
    </div>
  }
  <div class="taskCreateDate">Created: <span class="date">@task.CreatedDateTime.ToString( "s" )</span></div>
</div>

<div class="taskInfo" data-homecountry="currentVoucher.HomeCountry" data-systemname="@currentVoucher.SystemName">
  <div>Created reason: @task.CreationReason.Replace( ",", ", " )</div>
  @{
    if ( task.ActiveAlerts.Any() ) {
      <h4>Active Alerts</h4>
      foreach ( var alert in task.ActiveAlerts ) {
        <div class="showAlert" data-alertid="@alert.Id">@alert.Message</div>
      }
    }
  }
</div>

<div class="voucherActions">
  <div class="btn-group" role="group">
    <div class="dropdown viewAdditionalInfo">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Additional Tasks
      </button>
      <ul class="dropdown-menu">
        <li class="addBackComment">
          <a>Add Back Comment</a>
        </li>
        <li class="showCommentsModal">
          <a>View Back Comments</a>
        </li>
        <li class="showEmailsModal">
          <a>View Emails</a>
        </li>
        <li class="vouchPrintPDF">
          <a>VouchPrint PDF</a>
        </li>
      </ul>
      @if ( task.IsActive && !ReasonFilter.SupplierChange.IsMatch( task.CreationReason ) ) {
        var confButtonText = task.Type == AETaskType.CancelReservation ? "Confirm Cancel" : "Add Confirmation";

        <button class="btn btn-default showConfModal">@confButtonText</button>
      }
      <button class="btn btn-default showEmailModal">Send Email</button>
      @if ( task.IsActive && task.Type == AETaskType.CancelReservation ) {
        <button class="btn btn-default sendCancel">Send Cancel</button>
      }
    </div>
  </div>
</div>

<div class="requestDisplay">
  @{
    var requestsToDisplay = new List<SICommon.Models.RequestSnapshot> {
      new SICommon.Models.RequestSnapshot {
        Details = new SICommon.Models.RequestDetailSnapshot()
      }
    };
    var snapshotHeader = "No Snapshot exists";
    var requestIdToSupplierId = new Dictionary<long, long>();
    if ( snapshots.Any() ) {
      requestsToDisplay = snapshots.SelectMany( voucher => voucher.Requests ).OrderByDescending( request => request.CreatedDateTime ).ToList();
      foreach ( var request in requestsToDisplay ) {
        requestIdToSupplierId[request.Id] = snapshots.First( snapshot => snapshot.Requests.Any( bookingRequest => bookingRequest.Id == request.Id ) ).SupplierId;
      }
      snapshotHeader = "Snapshot Voucher";
    }
    if ( snapshots.Any() ) {
      <ul class="nav nav-stacked requestNavigator">
        @{
          var markRequestAttention = ReasonFilter.FieldsDoNotMatch.IsMatch( task.CreationReason );
          foreach ( var requestToDisplay in requestsToDisplay ) {
            <li role="presentation" class="@( Model.RequestIdToDisplay == requestToDisplay.Id ? "active" : "" ) @( markRequestAttention ? "boldRequest" : "" )" data-requestid="@requestToDisplay.Id">
              <a><span class="date">@requestToDisplay.CreatedDateTime.ToString( "s" )</span> for @SupplierHelpers.GetSupplierName( requestIdToSupplierId[requestToDisplay.Id] )</a>
            </li>
            markRequestAttention = false;
          }
        }
      </ul>
    }

    foreach ( var requestToDisplay in requestsToDisplay ) {
      var supplierId = requestToDisplay.Id == 0 ? task.Supplier.Id : requestIdToSupplierId[requestToDisplay.Id];
      var snapshotToDisplay = snapshots.FirstOrDefault( snapshot => snapshot.Requests.Any( request => request.Id == requestToDisplay.Id ) );
      <div class="table-responsive">
        <table class="compareView @( Model.RequestIdToDisplay == requestToDisplay.Id ? "" : "hidden" ) table table-condensed table-bordered" data-action="@requestToDisplay.Action" data-requestid="@requestToDisplay.Id" data-status="@requestToDisplay.Status" data-supplierid="@supplierId">
          <thead>
          <tr>
            <td>Field</td>
            <td>
              <h4>@(currentVoucher.VoucherState == VoucherState.Active ? "Active" : "Canceled") Voucher (@currentVoucher.Status)</h4>
            </td>
            <td>
              <h4>@snapshotHeader (@requestToDisplay.Action)</h4>
            </td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Supplier</td>
            <td>@Model.Supplier.Name</td>
            <td>@SupplierHelpers.GetSupplierName( supplierId )</td>
          </tr>
          <tr>
            <td>OperatorId</td>
            <td>@currentVoucher.OperatorId</td>
            <td>@(snapshotToDisplay == null ? "" : snapshotToDisplay.OperatorId)</td>
          </tr>
          <tr>
            <td>Confnum</td>
            <td>@currentVoucher.ReservationNumber</td>
            <td>@(snapshotToDisplay == null ? "" : snapshotToDisplay.SupplierConfirmation)</td>
          </tr>
          <tr>
            <td>Name</td>
            <td>@currentVoucher.FullName</td>
            <td>@requestToDisplay.Details.FullName</td>
          </tr>
          <tr>
            <td>Op. Car Group</td>
            <td>@currentVoucher.CarGroup</td>
            <td>@requestToDisplay.Details.CarGroup</td>
          </tr>
          <tr>
            <td>Pickup Location</td>
            <td>@currentVoucher.PickupLocation</td>
            <td>@requestToDisplay.Details.PickupLocation</td>
          </tr>
          <tr>
            <td>Pickup Datetime</td>
            <td>@currentVoucher.PickupDateTime.ToSupplierPortalFormat()</td>
            <td>@requestToDisplay.Details.PickupDateTime.ToSupplierPortalFormat()</td>
          </tr>
          <tr>
            <td>Flight</td>
            <td>@currentVoucher.AirlineDetails</td>
            <td>@requestToDisplay.Details.AirlineDetails</td>
          </tr>
          <tr>
            <td>Dropoff Location</td>
            <td>@currentVoucher.DropoffLocation</td>
            <td>@requestToDisplay.Details.DropoffLocation</td>
          </tr>
          <tr>
            <td>Dropoff Datetime</td>
            <td>@currentVoucher.DropoffDateTime.ToSupplierPortalFormat()</td>
            <td>@requestToDisplay.Details.DropoffDateTime.ToSupplierPortalFormat()</td>
          </tr>
          <tr>
            <td>Rate Code</td>
            <td>@currentVoucher.RateCode</td>
            <td>@requestToDisplay.Details.RateCode</td>
          </tr>
          <tr>
            <td>Business Account</td>
            <td>@currentVoucher.BusinessAccount</td>
            <td>@requestToDisplay.Details.BusinessAccount</td>
          </tr>
          <tr>
            <td>Rental Duration</td>
            <td>@currentVoucher.RentalDuration</td>
            <td>@requestToDisplay.Details.RentalDuration</td>
          </tr>
          <tr>
             @{
               var specialRequests = (requestToDisplay.Details.SpecialRequests + " " + requestToDisplay.Details.UpgradeComment).Trim();
               if ( requestToDisplay.SpecialRequests != null && requestToDisplay.SpecialRequests.Any() ) {
                 specialRequests = "";
                 foreach (var specialRequest in requestToDisplay.SpecialRequests ) {
                   specialRequests += specialRequest.Count + " " + specialRequest.Item + ";";
                 }
                 specialRequests = specialRequests.TrimEnd( ';' );
               }
             }
            <td>Special Requests</td>
            <td>@(( currentVoucher.SpecialRequests + " " + currentVoucher.UpgradeComment ).Trim())</td>
            <td>@specialRequests</td>
          </tr>
          <tr>
            <td>Comments</td>
            <td>@currentVoucher.Comments</td>
            <td>@requestToDisplay.Details.Comments</td>
          </tr>
          </tbody>
        </table>
      </div>
    }
  }
</div>