﻿@using HtmlAgilityPack
@using SICommon.Enums
@using SICommon.Extensions
@model SICommon.SPModels.GridModel

@{
  var columnNameToColumn = new Dictionary<string, WebGridColumn> {
    {
      "PickupDateTime", new WebGridColumn {
        CanSort = true,
        ColumnName = "Details.PickupDateTime",
        Header = "Pickup Date",
        Style = "pickupDateTime",
        Format = item => ( (DateTime) item.Details.PickupDateTime ).ToSupplierPortalFormat()
      }
    }, {
      "MadeDateTime", new WebGridColumn {
        CanSort = true,
        ColumnName = "CreatedDateTime",
        Header = "Request Date (UTC)",
        Style = "pickupDateTime",
        Format = item => ( (DateTime) item.MadeDateTime ).ToSupplierPortalFormat()
      }
    }, {
      "PickupLocation", new WebGridColumn {
        CanSort = true,
        ColumnName = "Details.PickupLocation",
        Header = "Pickup Location",
        Style = "pickupLocation"
      }
    }, {
      "CarGroup", new WebGridColumn {
        CanSort = true,
        ColumnName = "Details.CarGroup",
        Header = "Car Group",
        Style = "carGroup"
      }
    }, {
      "VoucherNumber", new WebGridColumn {
        CanSort = true,
        ColumnName = "SystemAndVoucherNumber",
        Header = "Voucher Number",
        Style = "voucherNumber"
      }
    }, {
      "SupplierConfirmation", new WebGridColumn {
        CanSort = true,
        ColumnName = "SupplierConfirmation",
        Header = "Reservation Number"
      }
    }, {
      "LastName", new WebGridColumn {
        CanSort = true,
        ColumnName = "Details.LastName",
        Header = "Last Name"
      }
    }, {
      "ConfirmedDateTime", new WebGridColumn {
        CanSort = true,
        ColumnName = "SupplierResponse.ResponseDateTime",
        Header = ( Model.VoucherStatus == VoucherStatus.All ? Model.RequestStatus.ToString() : Model.VoucherStatus.ToString() ) + " Date (UTC)",
        Style = "confirmedDateTime",
        Format = item => ( (DateTime) item.SupplierResponse.ResponseDateTime ).ToSupplierPortalFormat()
      }
    }
  };

  // Under no circumstances use the ajax features of the WebGrid or you will break the existing JS
  var grid = new WebGrid( Model.BookingRequests,
    canPage: true,
    canSort: true,
    rowsPerPage: Model.NumRows,
    selectionFieldName: "SelectedRow",
    defaultSort: columnNameToColumn[Model.GridSettings.SortColumn].ColumnName );

  var webGridColumns = new List<WebGridColumn> {
    new WebGridColumn {
      ColumnName = "RequestId",
      Header = "ID",
      Style = "hidden"
    }
  };

  if ( Request.QueryString[grid.SortDirectionFieldName].IsEmpty() ) {
    grid.SortDirection = Model.GridSettings.SortDirection;
  }

  foreach ( var columnName in Model.GridSettings.Columns ) {
    webGridColumns.Add( columnNameToColumn[columnName] );
  }

  var gridHtml = grid.GetHtml( "webgrid-table", // applying style on grid
    rowStyle: "webgrid-row-style",
    alternatingRowStyle: "webgrid-alternating-row",
    selectedRowStyle: "webgrid-selected-row",
    fillEmptyRows: false, //show empty row when there is only one record on page to it will display all empty rows there.
    headerStyle: "webgrid-header", //applying style.
    footerStyle: "webgrid-footer", //applying style.
    mode: WebGridPagerModes.All, //paging to grid
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",
    columns: webGridColumns ).ToHtmlString();
  var document = new HtmlDocument();
  document.LoadHtml( gridHtml );
  document.DocumentNode.SelectSingleNode( "/table/thead/tr/th[1]" ).Attributes.Add( "class", "hidden" );
  var footer = document.DocumentNode.SelectSingleNode( "/table/tfoot/tr/td" );
  if ( footer != null ) {
    var numberOfRowsHtml = document.CreateElement( "div" );
    numberOfRowsHtml.Attributes.Add( "style", "float:right" );
    numberOfRowsHtml.InnerHtml = "Number of Rows: ";
    var rowNumberOptions = new List<int> {5, 10, 20};
    foreach ( var rowNumberOption in rowNumberOptions ) {
      var inputOption = document.CreateElement( "input" );
      inputOption.Attributes.Add( "type", "radio" );
      inputOption.Attributes.Add( "name", "numrows_options" );
      inputOption.Attributes.Add( "value", rowNumberOption.ToString() );
      if ( rowNumberOption == Model.NumRows ) {
        inputOption.Attributes.Add( "checked", "checked" );
      }
      inputOption.InnerHtml = rowNumberOption + " ";
      numberOfRowsHtml.AppendChild( inputOption );
    }
    footer.AppendChild( numberOfRowsHtml );
  }
}

<div id="grid">
  @MvcHtmlString.Create( document.DocumentNode.OuterHtml )
  <input type="hidden" id="dir" value="@grid.SortDirection" />
  <input type="hidden" id="col" value="@grid.SortColumn" />
  <input type="hidden" id="newRequestsCount" value="@Model.NewRequestsCount.ToString()" />
  <input type="hidden" id="lastRefreshDateTime" value="@DateTime.UtcNow.ToString()" />
</div>