﻿@using SICommon.Enums
@using SICommon.Extensions
@model SICommon.SPModels.VoucherDetailsModel

<div id="voucherDetailsWrapper">
  @* Set up and render the request navigator *@
  <div id="requestNavigatorDiv" class=" floatLeft fancyBorder">
    <div class="width100 floatLeft">
      <span class="width100 floatLeft fontSize1Dot2em marginBottom10" title="Request history">Request Navigator</span>
    </div>
    <br />
    <div class="width100 floatLeft">
      <span class="width50 floatLeft">Request Date</span>
      <span class="width50 floatLeft" >Request Status</span>
    </div>
    <br />
    <div id="requestLinksDiv" class="item-extend width100 floatLeft">
      @{
        foreach ( var request in Model.Voucher.Requests ) {
          string requestStatusText;
          if ( @request.SupplierResponse != null ) {
            requestStatusText = @request.SupplierResponse.IsConfirmed ? "Accepted" : "Rejected";
          } else if ( request.Status == RequestStatus.Obsolete ) {
            requestStatusText = "Expired";
          } else {
            requestStatusText = "Pending";
          }
          var className = request.Action.ToString();
          if ( request.RequestId == Model.RequestToDisplay.RequestId ) {
            className += " selectedRequest";
          }
          var linkId = Model.Voucher.SystemAndVoucherNumber + "-" + request.RequestId;
        <div class="width100 floatLeft">
          <hr class="horizontalRule" />
          <a id="@linkId" class="@className cursorPointer" title="Click to view details for this request">
            <span class="width50 floatLeft normalRightRadius">@request.CreatedDateTime.ToSupplierPortalFormat()</span>
            <span class="width50 floatLeft normalLeftRadius">@requestStatusText</span>
          </a>
        </div>
        }
      }
    </div>
  </div>

  @* Set up and render the current request details *@
  <div id="innerVoucherDetailsWrapper" class="fancyBorder">
    <div id="voucherDetailsDiv">
      <table>
        <tr>
          <td>
            @Html.Label( "Voucher Number" )
          </td>
          <td class="fontWeightNormal">
            @Model.Voucher.SystemAndVoucherNumber
          </td>
        </tr>
        <tr>
          <td>
            @Html.Label( "Request Type" )
          </td>
          <td class="fontWeightNormal">
            @Model.RequestToDisplay.Action
          </td>
        </tr>
        <tr>
          <td>
            @Html.Label( "Request Status" )
          </td>
          <td class="fontWeightNormal">
            @{
              string requestToDisplayStatusText;
              if ( Model.RequestToDisplay.SupplierResponse != null ) {
                requestToDisplayStatusText = Model.RequestToDisplay.SupplierResponse.IsConfirmed ? "Accepted" : "Rejected";
              } else if ( Model.RequestToDisplay.Status == RequestStatus.Obsolete ) {
                requestToDisplayStatusText = "Expired";
              } else {
                requestToDisplayStatusText = "Pending";
              }
            }
            @requestToDisplayStatusText
          </td>
        </tr>
        
        <tr class="trBorderBottom">
          <td class="tdPaddingBottom">
            @Html.Label( "Reservation Status" )
          </td>
          <td class="tdPaddingBottom fontWeightNormal">
            @Model.Voucher.Status
          </td>
        </tr>
        <tr>
          <td class="tdPaddingTop">
            @Html.Label( "Request Date" )
          </td>
          <td class="tdPaddingTop fontWeightNormal">
            @Model.RequestToDisplay.CreatedDateTime.ToSupplierPortalFormat()
          </td>
        </tr>
        <tr>
          <td>
            @Html.Label( "Customer Name" )
          </td>
          <td class="fontWeightNormal">
            @Model.RequestToDisplay.Details.FullName
          </td>
        </tr>
        <tr>
          <td>
            @Html.Label( "Car Group" )
          </td>
          <td class="fontWeightNormal">
            @Model.RequestToDisplay.Details.FormattedCarGroup
          </td>
        </tr>
        <tr>
          <td>
            @Html.Label( "Pickup Location" )
          </td>
          <td class="fontWeightNormal">
            @Model.RequestToDisplay.Details.PickupLocation
          </td>
        </tr>
        <tr>
          <td>
            @Html.Label( "Dropoff Location" )
          </td>
          <td class="fontWeightNormal">
            @Model.RequestToDisplay.Details.DropoffLocation
          </td>
        </tr>
        <tr>
          <td>
            @Html.Label( "Airline Details" )
          </td>
          <td class="fontWeightNormal">
            @Model.RequestToDisplay.Details.AirlineDetails
          </td>
        </tr>
        <tr>
          <td>
            @Html.Label( "Pickup Date/Time" )
          </td>
          <td class="fontWeightNormal">
            @Model.RequestToDisplay.Details.PickupDateTime.ToSupplierPortalFormat()
          </td>
        </tr>
        <tr>
          <td>
            @Html.Label( "Dropoff Date/Time" )
          </td>
          <td class="fontWeightNormal">
            @Model.RequestToDisplay.Details.DropoffDateTime.ToSupplierPortalFormat()
          </td>
        </tr>
        <tr>
          <td>
            @Html.Label( "Rental Duration" )
          </td>
          <td class="fontWeightNormal">
            @Model.RequestToDisplay.Details.RentalDuration
          </td>
        </tr>
        <tr>
          <td>
            @Html.Label( "Rate Code" )
          </td>
          <td class="fontWeightNormal">
            @Model.RequestToDisplay.Details.FormattedRateCode
          </td>
        </tr>
        <tr>
          <td>
            @Html.Label( "Business Account" )
          </td>
          <td class="fontWeightNormal">
            @Model.RequestToDisplay.Details.FormattedBusinessAccount
          </td>
        </tr>
        <tr>
          <td>
            @Html.Label( "Insurance" )
          </td>
          <td class="fontWeightNormal">
            @Model.RequestToDisplay.Details.Insurance
          </td>
        </tr>
        <tr>
          <td>
            @Html.Label( "Special Requests" )
          </td>
          <td class="fontWeightNormal">
            @*SP-162 Do now display upgrade comment for AUS or NZ*@
            @{
              if ( Model.RequestToDisplay.SystemCode == SystemCode.AU || Model.RequestToDisplay.SystemCode == SystemCode.NZ ) {
                @Model.RequestToDisplay.Details.SpecialRequests
              } else {
                @Model.RequestToDisplay.Details.FormattedSpecialRequests
              }
            }
          </td>
        </tr>
        @if ( Model.RequestToDisplay.Details.Price != "" ) {
          <tr>
            <td>
              @Html.Label( "Wholesale Price" )
            </td>
            <td class="fontWeightNormal">
              @Model.RequestToDisplay.Details.Price
            </td>
          </tr>
        }
      </table>
    </div>

    @{
      var isPending = Model.RequestToDisplay.Status == RequestStatus.Pending;
      var commentsAttributes = new Dictionary<string, object> {
        {"id", "commentsArea"},
        {"disabled", true},
        {"readonly", "" },
        {"title", "Enter comments here"}
      };
      var confirmationNumberAttributes = new Dictionary<string, object> {
        {"id", "confirmationNumberArea"},
        {"disabled", true},
        {"readonly", "" },
        {"title", "Enter the reservation number here"}
      };
      var actionByAttributes = new Dictionary<string, object> {
        {"id", "actionedByArea"},
        {"disabled", true},
        {"readonly", "" },
        {"title", "Enter your ID, name, or initials here"}
      };
      var comments = Model.RequestToDisplay.SupplierResponse == null ? "" : Model.RequestToDisplay.SupplierResponse.Comments;
      var confirmationNumber = Model.RequestToDisplay.SupplierResponse == null ? "" : Model.RequestToDisplay.SupplierResponse.ConfirmationNumber;
      if ( confirmationNumber == "" && !string.IsNullOrEmpty(Model.Voucher.SupplierConfirmation) ) {
        confirmationNumber = Model.Voucher.SupplierConfirmation;
      }
      var actionedBy = Model.RequestToDisplay.SupplierResponse == null ? "" : Model.RequestToDisplay.SupplierResponse.DoneBy;
      if ( Model.RequestToDisplay.Action == RequestAction.Cancel ) {
        if ( isPending && !string.IsNullOrEmpty(Model.Voucher.SupplierConfirmation) ) {
          confirmationNumber = Model.Voucher.SupplierConfirmation;
        }
      }
    }

    <div id="actionFormDiv">
      <button id="vouchPrintPDF" class="btn btn-default btn-lg" title="click this button to get a pdf of the voucher">
        Get Voucher PDF
        <span class="glyphicon glyphicon-download-alt"></span>
      </button>
      <div class="formRow">
        @Html.Label( "Comments", new { id = "commentsLabel", title = "Enter comments here" } )
        @Html.TextArea( "Comments", comments, commentsAttributes )
      </div>
      <div class="formRow">
        @Html.Label( "Reservation Number", new { id = "confirmationNumberLabel", title = "Enter the reservation number here" } )
        @Html.TextBox( "ConfirmationNumber", confirmationNumber, confirmationNumberAttributes )
      </div>
      <div class="formRow">
        @Html.Label( "Actioned By (Required)", new{ title = "Enter your ID, name, or initials here"} )
        @Html.TextBox( "ActionedBy", actionedBy, actionByAttributes )
      </div>
      
    </div>
  </div>
</div>
