﻿@using SICommon.Enums
@using SICommon.Extensions
@model SICommon.SPModels.RequestsModel

@{
    //  ViewBag.Title = Model.CurrentSearchName;
    ViewData.Add("Title", Model.CurrentSearchName);
    var createdStartDate = (Model.SearchParameters.CreatedDateLowerBound.HasValue ? Model.SearchParameters.CreatedDateLowerBound.Value.ToSupplierPortalDateFormat() : "");
    var createdEndDate = (Model.SearchParameters.CreatedDateUpperBound.HasValue ? Model.SearchParameters.CreatedDateUpperBound.Value.ToSupplierPortalDateFormat() : "");
    var dropoffStartDate = (Model.SearchParameters.DropoffDateLowerBound.HasValue ? Model.SearchParameters.DropoffDateLowerBound.Value.ToSupplierPortalDateFormat() : "");
    var dropoffEndDate = (Model.SearchParameters.DropoffDateUpperBound.HasValue ? Model.SearchParameters.DropoffDateUpperBound.Value.ToSupplierPortalDateFormat() : "");
    var pickupStartDate = (Model.SearchParameters.PickupDateLowerBound.HasValue ? Model.SearchParameters.PickupDateLowerBound.Value.ToSupplierPortalDateFormat() : "");
    var pickupEndDate = (Model.SearchParameters.PickupDateUpperBound.HasValue ? Model.SearchParameters.PickupDateUpperBound.Value.ToSupplierPortalDateFormat() : "");

    var voucherNumber = Model.SearchParameters.VoucherNumber == 0 ? "" : Model.SearchParameters.VoucherNumber.ToString();

    var selectionOptions = new Dictionary<string, object> {
	{"autocomplete", "off"}
  };
}

<div ng-app="requestApp">
    <div ng-controller="RequestController">
        <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <h3></h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5>Enter your message</h5>
                        <textarea id="contactMessage"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="sendMessage" data-dismiss="modal">Send Message</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        @{
            var chooseSupplier = new SelectList(Model.Suppliers.OrderBy(suppplierIdNamePair => suppplierIdNamePair.Value), "Key", "Value", Model.SearchParameters.SupplierId);
            <span style="margin-left: 80px;margin-top: 5px;"><b>Suppliers:</b></span>
            @Html.DropDownList("chooseSupplier", chooseSupplier, "Choose Supplier to View", selectionOptions)
            <span style="margin-left: 80px;margin-top: 5px;"><b>Current supplier: @Model.Suppliers[Model.SearchParameters.SupplierId]</b></span>
        }
        <div id="SearchAndFilterContainer">
            <div id="searchAndFilterHeaderDiv" class="fancyBorder" style="float: left;">
                <span style="float: left;margin-top: 5px;">
                    <button id="expandSearchAndFilterBtn" type="button" class="btn .btn-lg" style="float: left">

                        <span id="btnIcon" class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-target="#SearchAndFilterControlDiv" aria-expanded="false"></span><span>Search</span>
                    </button>
                </span>
                <ul id="quickSearch" style="float: left;list-style-type: none;margin-left: 10px;margin-top: 5px;padding: 0">
                    @{foreach (var searchName in Model.SearchNames) {
                            var navClass = searchName == Model.CurrentSearchName ? "active" : "";
                            var routeValues = new RouteValueDictionary {
			{"searchName", searchName}
		  };
                            if (Model.SearchParameters.SupplierId != 0) {
                                routeValues.Add("supplierId", Model.SearchParameters.SupplierId.ToString());
                            }
                            var toolTip = "Display " + searchName;
                            var HTMLAttributes = new Dictionary<string, object> { { "title", toolTip } };
                            <li style="float: left;margin-right: 10px" role="presentation" class="@navClass">
                                @Html.ActionLink(searchName, "Index", "Requests", routeValues, HTMLAttributes)
                            </li>}
                    }
                </ul>
            </div>
            <div id="SearchAndFilterControlDiv" class="fancyBorder">
                <div class="SearchColumnSmall SearchColumn">
                    <span class="listTitle" title="Select to filter by reservation staus">Reservation Status</span>
                    <div id="voucherStatus" class="btn-group-vertical" data-toggle="buttons">
                        @{foreach (VoucherStatus status in Enum.GetValues(typeof(VoucherStatus))) {
                                var buttonClass = status == Model.SearchParameters.VoucherStatus ? "active" : "";
                                var checkedStr = status == Model.SearchParameters.VoucherStatus ? "checked" : "";
                                var titleText = "See " + @status + " reservations";
                                <label class="btn btn-primary statusButtons @buttonClass" title="@titleText">
                                    <input type="radio" id="@status" autocomplete="off" @checkedStr>@status.ToString()
                                </label>}
                        }
                    </div>
                </div>
                <div class="SearchColumnSmall SearchColumn">
                    <span class="listTitle" title="Select to filter by request staus">Request Status</span>
                    <div id="requestStatus" class="btn-group-vertical" data-toggle="buttons">
                        @{var curStatus = string.Empty;
                            foreach (RequestStatus status in Enum.GetValues(typeof(RequestStatus))) {
                                switch (status) {
                                    case RequestStatus.Obsolete:
                                        continue;
                                    case RequestStatus.Confirmed:
                                        curStatus = "Accepted";
                                        break;
                                    case RequestStatus.Denied:
                                        curStatus = "Rejected";
                                        break;
                                    case RequestStatus.Pending:
                                        curStatus = "Pending";
                                        break;
                                    case RequestStatus.All:
                                        curStatus = "All";
                                        break;
                                }

                                var buttonClass = status == Model.SearchParameters.RequestStatus ? "active" : "";
                                var checkedStr = status == Model.SearchParameters.RequestStatus ? "checked" : "";
                                var titleText = "See " + @curStatus + " requests";
                                <label class="btn btn-primary statusButtons @buttonClass" title="@titleText">
                                    <input type="radio" id="@status" autocomplete="off" @checkedStr>@curStatus
                                </label>}
                        }
                    </div>
                </div>

                <div class="SearchColumnLarge SearchColumn" style="margin-top: 0">
                    <div id="pickupLocations" class="filterTypes">
                        <span class="listTitle" title="Filter by pickup location">Pickup Locations</span>
                        @Html.ListBox("PickupLocationFilter", new SelectList(Model.PickupLocations), selectionOptions)
                    </div>
                    <div id="dropoffLocations" class="filterTypes">
                        <span class="listTitle" title="Filter by dropoff location">Dropoff Locations</span>
                        @Html.ListBox("DropoffLocationFilter", new SelectList(Model.DropoffLocations), selectionOptions)
                    </div>
                    <div id="carGroups" class="filterTypes">
                        <span class="listTitle" title="Filter by car group">Car Groups</span>
                        @Html.DropDownList("CarGroupFilter", new SelectList(Model.CarGroups), "View All Car Groups", selectionOptions)
                    </div>
                </div>
                <div class="SearchColumnMedium SearchColumn" style="border: none;margin-right: 0;margin-top: 0;padding-right: 0">
                    <label for="voucherNumber" style="margin-top: 5px" title="Search for a specific voucher number">Voucher Number</label>
                    <input id="voucherNumber" type="text" value="@voucherNumber" class="searchTextBoxes" title="Enter a specific voucher number here" />
                    <label for="reservationNumber" title="Search for a specific reservation number">Reservation Number</label>
                    <input id="reservationNumber" type="text" value="@Model.SearchParameters.ConfirmationNumber" class="searchTextBoxes" title="Enter a specific reservation number here" />
                    <label for="firstName" title="Search for a specific customer first name">First Name</label>
                    <input id="firstName" type="text" value="@Model.SearchParameters.FirstName" class="searchTextBoxes" title="Enter a specific customer first name" />
                    <label for="lastName" title="Search a specific customer last name">Last Name</label>
                    <input id="lastName" type="text" value="@Model.SearchParameters.LastName" class="searchTextBoxes" title="Enter a specific customer last name" />
                </div>
                <div class="SearchColumn" style="margin-left: 0;margin-top: 0;padding-left: 0">
                    <label for="pickupStartDate" style="margin-top: 5px" title="Search for pickup dates within a specific range. To search for a single date enter the same date in both boxes.">Pickup Date Range</label>
                    <input id="pickupStartDate" type="text" class="dateSearchField searchTextBoxes" value="@pickupStartDate" title="Enter start date here" />
                    to
                    <input id="pickupEndDate" type="text" class="dateSearchField searchTextBoxes" value="@pickupEndDate" title="Enter ending date here" />
                    <label for="dropoffStartDate" title="Search for dropoff dates within a specific range. To search for a single date enter the same date in both boxes.">Dropoff Date Range</label>
                    <input id="dropoffStartDate" type="text" class="dateSearchField searchTextBoxes" value="@dropoffStartDate" title="Enter start date here" />
                    to
                    <input id="dropoffEndDate" type="text" class="dateSearchField searchTextBoxes" value="@dropoffEndDate" title="Enter start date here" />
                    <label for="createdStartDate" title="Search for created dates within a specific range. To search for a single date enter the same date in both boxes.">Created Date Range</label>
                    <input id="createdStartDate" type="text" class="dateSearchField searchTextBoxes" value="@createdStartDate" title="Enter start date here" />
                    to
                    <input id="createdEndDate" type="text" class="dateSearchField searchTextBoxes" value="@createdEndDate" title="Enter start date here" />
                    <div id="searchBtnDiv" style="float: left;margin-top: 25px;width: 85%;">
                        <button type="submit" class="searchButton" style="font-weight: bold;height: 100%;width: 100%;" title="Click to search.">Search</button>
                    </div>
                </div>
            </div>
        </div>


        <div style="float: left;margin-top: 10px;width: 100%">
            <span style="float: left;margin-top: 10px"><b>Export To:</b></span>
            <ul id="export">
                @{foreach (ExportFormat format in Enum.GetValues(typeof(ExportFormat))) {
                        var linkTitle = "Export to " + format;
                        <li style="cursor: pointer;display: inline-block;margin-right: 10px;text-align: center;width: 50px;" role="presentation">
                            <span title="@linkTitle">@format</span>
                        </li>}
                }
            </ul>
            <label id="freeTextSearchLabel" for="freeTextSearch" title="Search for last name, confirmation number, or voucher number">Quick search:</label>
            <input id="freeTextSearch" type="text" value="" class="searchTextBoxes" title="Enter last name, confirmation number, or voucher number" />
        </div>

        @{
            @Html.Partial("~/SupplierPortal/Views/Requests/_GridPartial.cshtml", Model.GridModel)
        }

        <div id="voucherDetails"></div>

        <div id="requestLoader">
            @Html.Partial("~/SupplierPortal/Views/Shared/NgShared.cshtml")
        </div>
    </div>
</div>
