﻿@{
  ViewBag.Title = "Shortcuts";
}

<h3>Shortcuts</h3>

<ul>
  <li>enter - submits on select modals</li>
  <li>ctrl + shift + a - Assign to user (Opens up assign modal)</li>
  <li>ctrl + shift + c - Change confirmation (Opens up set confirmation modal)</li>
  <li>ctrl + shift + m - Manage alerts (Opens up manage alerts modal)</li>
</ul>