﻿#chooseSupplier {
  margin-top: 5px;
}

#SearchAndFilterContainer {
  float: left;
  margin-bottom: 10px;
  padding: 2px;
  width: 100%;
}

#searchAndFilterHeaderDiv {
  border: 1px solid #4a77a5;
  font-size: 1.2em;
  padding: 8px;
  width: 100%;
}

#SearchAndFilterControlDiv {
  border: 1px solid #4a77a5;
  display: none;
  float: left;
  margin-bottom: 10px;
  padding: 2px;
  width: 100%;
}

#expandSearchAndFilterBtn span {
  font-weight: bolder;
  padding-left: 5px;
}

.SearchColumn {
  border-right: 1px solid #c0c0c0;
  float: left;
  margin: 5px;
  min-width: 200px;
  padding: 2px;
  width: 20%;
}

.SearchColumnLarge {
  min-width: 300px;
  width: 30%;
}

.SearchColumnMedium {
  width: 15%;
}

.SearchColumnSmall {
  min-width: 160px;
  width: 10%;
}

.listTitle {
  font-size: 1.2em;
  font-weight: bold;
}

.filterTypes {
  float: left;
  margin-bottom: 20px;
  max-height: 200px;
  padding: 5px;
  width: auto;
}

.filterTypes ul {
  border: 1px solid #4a77a5;
  border-radius: 5px;
  list-style-type: none;
  margin: 0;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px;
  width: 100%;
}

.filterTypes select {
  border-radius: 5px;
  max-width: 300px;
}

.filterTypes li {
  margin: 0;
  padding: 0;
}

.filterTypes label {
  background-color: Window;
  color: WindowText;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

.filterTypes label:hover {
  background-color: #e1f4f5;
  color: HighlightText;
  font-style: italic;
}

#expandSearchAndFilterBtn {
  background-color: #d3d3d3;
  border: 1px solid #4a77a5;
}

#expandSearchAndFilterBtn:hover {
  background-color: #808080;
}

#globalSearchTxt {
  float: left;
  width: 85%;
}

#dateFieldsContainer {
  float: left;
  width: 100%;
}

#SearchAndFilterContainer label {
  float: left;
  margin-top: 10px;
  width: 90%;
}

.dateSearchField {
  width: 40%;
}

.smallCalendarIcon {
  margin-left: 5px;
}

.smallCalendarIcon:hover {
  cursor: pointer;
}

#quickSearch li,
#suppliers li,
#export li {
  border: 1px solid #4a77a5;
  border-radius: 5px;
  color: #4a77a5;
  padding: 6px 6px 6px 6px;
}

#quickSearch li a,
#suppliers li a,
#export li a {
  text-decoration: none;
}

#quickSearch .active,
#suppliers .active,
#export .active {
  background-color: #7099C3;
}

#quickSearch .active a,
#suppliers .active a {
  color: #ffffff;
  font-weight: bolder;
}

.searchTextBoxes {
  border-radius: 5px;
}

.searchButton {
  border-radius: 5px;
  float: right;
  margin-top: 10px;
}

.statusButtons:hover {
  font-style: italic;
}

.glyphicon.glyphicon-chevron-up {
  font-size: 1.1em;
}

.glyphicon.glyphicon-chevron-down {
  font-size: 1.1em;
}

#export {
  float: left;
  list-style-type: none;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 5px;
  padding: 0;
}

#freeTextSearchLabel {
  margin-top: 10px;
  width: auto;
}

#freeTextSearch {
  float: left;
  margin-left: 5px;
  margin-right: 30px;
  margin-top: 5px;
  padding: 0;
}