﻿#suppliers {
  float: left;
  width: 100%;
}

#supplierDetails {
  width: 100%
}

#currentValues {
  padding-top: 5px;
  float: left;
  width: 50%
}

#newValues {
 padding-top: 5px;
  float: left;
  width: 50%
}

.rowHeader {
  margin-left: 15px;
}

.rowHeader div {
  margin-right: 10px;
}

.removeRow {
  float: left;
  margin-right: 10px;
  width: 15px;
}

.addRow {
  margin-left: 15px;
  margin-right: 10px;
  width: 15px;
}

.emptyRow {
  display: none;
}

#chooseSupplierToEdit {
  margin-bottom: 10px;
}

#isOphion {
  margin-right: 10px;
}

#userValues {
  padding-top: 5px;
  float: left;
  width: 100%;
}

.ajax-loader {
   position: fixed;
   left: 50%;
   top: 50%;
   margin-left: -32px; /* -1 * image width / 2 */
   margin-top: -32px; /* -1 * image height / 2 */
   display: block;
   z-index: 2050;
}

.loading-spiner-holder {
    opacity: .93;
    display: block;
    background-color: #fff;
}