﻿/* Voucher Details Table */
table {
  border-collapse: collapse;
  color: #363636;
  text-align: left;
}

td {
  padding-bottom: 1px;
  padding-top: 1px;
}

.tdPaddingTop {
  padding-top: 10px
}

.tdPaddingBottom {
  padding-bottom: 10px
}

.trBorderBottom {
  border-bottom: 5px solid #000;
}

/* Overrides */

label {
  float: left;
  width: 200px;
}

/* Structural CSS */

#voucherDetailsWrapper {
  float: left;
  font-size: 1em;
  font-weight: bold;
  margin-top: 40px;
  padding: 15px 10px 10px 10px;
  width: 100%;
}

#requestNavigatorDiv {
  margin-right: 5px;
  padding: inherit;
  width: 19%;
}

#requestLinksDiv {
  font-weight: normal;
  margin-bottom: 20px;
  max-height: 313px;
  overflow-y: auto;
}

#voucherDetailsDiv {
  border-right: 1px solid #000000;
  float: left;
  padding: inherit;
  width: 50%;
}

#actionFormDiv {
  float: left;
  padding: inherit;
  width: 50%;
}

#actionFormDiv form {
  padding-top: 100px;
}

#innerVoucherDetailsWrapper {
  float: left;
  padding: 10px 10px 10px 10px;
  width: 80%;
}

/* Request Navigator */

.normalRightRadius {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.normalLeftRadius {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.selectedRequest span {
  background-color: #009999;
  border-radius: 5px;
  color: #ffffff;
  font-style: italic;
  font-weight: bolder;
  padding: 2px 2px 2px 2px;
}

/* Form Elements */

#actionButtonContainer {
  margin-left: 205px;
}

#clearButton {
  margin-right: 20px;
}

#commentsArea {
  border-radius: 5px;
  height: 50px;
  resize: none;
  width: 60%;
}

#confirmationNumberArea {
  border-radius: 5px;
  height: 2em;
  resize: none;
  width: 60%;
}

#actionedByArea {
  border-radius: 5px;
  height: 2em;
  resize: none;
  width: 60%;
}

.action-radio-div {
  float: left;
  margin-left: 10px;
  padding-left: 5px;
}

.bigRadio {
  transform: scale(1.5);
}

.leftPadding10 {
  padding-left: 10px;
}

.formRow {
  clear: left;
  padding-bottom: 15px;
  padding-top: 15px;
}

/* CSS for the scrollbar in the Request navigator panel */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #4A77A5;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px #7099C3;
  border-radius: 5px;
}

/* Misc */

.cursorPointer {
  cursor: pointer;
}

.toUpper {
  text-transform: uppercase;
}

.width100 {
  width: 100%;
}

.width50 {
  width: 50%;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.marginBottom10 {
  margin-bottom: 10px;
}

.fontSize1Dot2em {
  font-size: 1.2em;
}

.textCenter {
  text-align: center;
}

.fontWeightNormal {
  font-weight: normal;
}

.fancyBorder {
  border: 2px solid #000000;
  border-radius: 5px;
  box-shadow: 0 0 10px #000000;
}

.horizontalRule {
  background-color: #000;
  color: #000;
  height: 2px;
  margin-bottom: 3px;
  margin-top: 3px;
}