﻿#grid {
  float: left;
  margin-top: 10px;
}

#grid tr {
  cursor: pointer;
}

#grid tbody tr:hover {
  background-color: #e1f4f5;
  font-style: italic;
  font-weight: 900;
}

.selectedRow {
  background-color: #009999 !important;
  color: #ffffff;
  font-style: italic;
  font-weight: 900;
  opacity: 0.9;
}

.webgrid-table {
  border: 1px solid #4A77A5;
  border-collapse: separate;
  border-radius: 5px;
  display: table;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  width: 100%;
}

.webgrid-table td,
th {
  border: 1px solid #4A77A5;
  padding: 3px 7px 2px;
}

.webgrid-table a {
  color: #000000;
  text-decoration: underline;
}

.webgrid-header {
  background-color: #4A77A5;
  color: #ffffff;
  padding-bottom: 4px;
  padding-top: 5px;
  text-align: left;
}

.webgrid-header a {
  color: #ffffff;
}

.webgrid-row-style {
  padding: 3px 7px 2px;
}

.webgrid-alternating-row {
  background-color: #7099C3;
  padding: 3px 7px 2px;
}

.webgrid-footer {
  background-color: #4A77A5;
  color: #ffffff;
  padding-bottom: 4px;
  padding-top: 5px;
}

.webgrid-footer a {
  color: #ffffff;
}

.auto {
  width: auto;
}

.viewColumn {
  text-align: center;
  width: 60px;
}

.pickupDateTime {
  width: 200px;
}

.pickupLocation {
  width: 350px;
}

.carGroup {
  width: 150px;
}

.voucherNumber {
  width: 200px;
}

.confirmedDateTime {
  width: 220px;
}