﻿.modal-content {
    padding: 20px;
}

.from {
    font-weight: bold;
}

.timeStamp {
    float: right;
    font-weight: normal;
}

.body {
    width: 100%;
}

.modal-footer {
    padding-bottom: 0px;
}

#replyIcon {
    width: 20px;
}

#replyButton {
    float: right;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.ArrowRight {
    width: 25px;
}
