﻿body {
  padding: 20px;
}

.grid-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.5em;
}

.grid {
  height: 98vh;
  margin-top: 20px;
}

.ui-grid-pager-row-count-picker {
    display: none !important;
}

.ajax-loader {
   position: fixed;
   left: 50%;
   top: 50%;
   margin-left: -32px; /* -1 * image width / 2 */
   margin-top: -32px; /* -1 * image height / 2 */
   display: block;
   z-index: 2050;
}

.loading-spiner-holder {
    opacity: .93;
    display: block;
    background-color: #fff;
}

.ui-grid-pager-panel {
    position:static;
    margin-top: 0;
    padding-top:0;
    padding-bottom:0;
}