﻿textarea {
  font-family: Courier New, monospace
}

.dropdown-menu {
  max-height: 400px;
  overflow-y: auto;
}

#orderBy {
  float: left;
  margin-left: 10px;
}

#orderBy span {
  cursor: pointer;
  margin-right: 5px;
}

#searchFields {
  float: left;
  margin-left: 15px;
}

#addFilterArea {
  float: left;
  margin-left: 15px;
}

#addFilterArea span {
  float: left;
  padding-right: 5px;
}

#dateRange {
  float: left;
}

#activeFilters {
  clear: both;
  padding-top: 10px;
}

#activeFilters div {
  background-color: #d3d3d3;
  border-radius: 5px;
  float: left;
  margin-left: 15px;
  margin-top: 5px;
  padding: 5px;
}

#activeFilters span {
  padding-left: 5px;
}

#quickSearchArea {
  float: left;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 300px;
}

#quickSearchResults {
  color: red;
  float: left;
}

#tasksArea {
  clear: both;
}

#tasks {
  float: left;
  max-height: 800px;
  overflow-y: scroll;
  width: 20%;
}

#taskArea {
  float: left;
  width: 75%;
}

.taskClosed {
  text-decoration: line-through;
}

.taskDisplay {
  border-top: 1px solid black;
  clear: both;
  margin-left: 10px;
  padding-left: 5px;
}

.taskTopRow {
  border-bottom: 1px solid gray;
  height: 40px;
  margin-top: 5px;
  padding-bottom: 5px;
}

.taskStatusArea,
.taskTopRow button {
  float: left;
  margin-left: 5px;
}

.taskCreateDate {
  float: right;
  margin-right: 5px;
}

.taskInfo {
  float: left;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-top: 5px;
  width: 45%;
}

.voucherActions {
  float: left;
  margin-bottom: 15px;
  margin-top: 5px;
}

.showAlert {
  margin: 5px;
}

.extraInfo {
  float: left;
}

#taskAlertHeader div {
  float: left;
  width: 165px;
}

#activeAlerts {
  clear: both;
}

#addAlertArea {
  margin-top: 15px;
}

#commentsModal .modal-dialog,
#emailsModal .modal-dialog {
  width: 800px;
}

#commentsList,
#emailsList {
  cursor: pointer;
  float: left;
  max-height: 500px;
  overflow-y: scroll;
  width: 35%;
}

#commentsArea,
#emailsArea {
  float: left;
  margin-left: 15px;
  max-height: 500px;
  overflow-y: scroll;
  width: 60%;
}

#commentsModal .modal-footer,
#emailsModal .modal-footer {
  clear: both;
}

#confStatus li {
  width: 50%;
}

#addConfModal span {    
  display: inline-block;
  width: 100%;
}

#emailTemplateOptions {
  float: left;
  height: 100%;
  width: 30%;
}

#emailMessage {
  float: left;
  width: 70%
}

#emailMessage span {
  clear: both;
  width: 70%
}

#emailSubject {
  width: 100%;
}

#emailToAddress, 
#emailCCAddress {
  width: 100%;
}

#emailBody {
  height: 500px;
  width: 100%;
}

#emailModal .modal-footer {
  clear: both;
}

.boldRequest {
  font-weight: bolder;
}

.requestDisplay {
  clear: both;
}

.requestNavigator {
  float: left;
  width: 200px;
}

#relatedTasks {
  margin-left: 20px;
}

#relatedTasks li.active a,
.requestNavigator li.active a {
  background-color: #337ab7;
  border-color: #337ab7;
  color: #ffffff;
}
