﻿@using SICommon.Enums
@using SICommon.Extensions

@{
  ViewBag.Title = "Report";
  var selectionOptions = new Dictionary<string, object> {
    {"autocomplete", "off"},
  };
}

<div ng-app="reportApp">
    <div ng-controller="GetDataController">
        Pick Report:
        <select id="ReportType" ng-model="item" ng-change="update()">
            @{
                foreach (var item in new ReportType().ToDictionary()) {
                    <option value="@item.Key">@item.Value</option>
                }
            }
        </select>
        <div id="ReportGrid" class="grid hidden" ui-grid="gridOptions" ui-grid-pagination ui-grid-cellNav ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize>
        </div>

        <!-- Modal HTML -->
        <script type="text/ng-template" id="EmailTemplate.html">
            <div>
                <div>
                    <h4>{{selectedRow.Subject}}</h4>
                </div>               
            </div>
            <div>
                <div class="from">
                    From: <span> {{selectedRow.From}}</span>
                    <span class="timeStamp"> {{selectedRow.SentDateTime}} </span>
                </div>
                <div>To: {{selectedRow.To}}</div>
                <div>
                    Cc: {{selectedRow.Cc}}
                </div>
                <br />
            </div>
            <div class="body">
                <pre>{{selectedRow.Body}}</pre>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
            </div>
        </script>

        <!-- DatePickerTemplate HTML -->
        <script type="text/ng-template" id="DatePickerTemplate.html">
            @*<div class="row custom-filter-date-input-row">

        <div class="well col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 custom-date-filter-input">

            <uib-datepicker ng-model="custom.filterDate"
                            min-date="custom.minDate"
                            max-date="custom.maxDate"
                            ng-change="custom.filterDateChanged()"
                            class="well well-sm">
            </uib-datepicker>
        </div>
    </div>*@
        </script>

        <!-- Loading Spinner HTML -->
        <div id="reportsLoader">
            @Html.Partial("~/Manifest/Views/Admin/AngularServices.cshtml")
        </div>
    </div>
</div>
