﻿<!-- New Assignment Row Modal HTML -->
<script type="text/ng-template" id="AsgnGrpTemplate.html" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"> 
    <div id="AsgntGroupTemplate">
        <div class="modal-header">
            <h3 class="modal-title">Add Assignment Group</h3>
        </div>
        <div class="modal-body">
            <form name="AddAssgntForm" novalidate">
                <div class="form-group row">
                    <label for="System" class="col-sm-2 form-control-label">System:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="SystemCode" placeholder="*">{{ entity.SystemCode }}
                    </div>
                </div>
                @{Html.RenderAction("SupplierSelectView", "Admin");}
                <div class="form-group row">
                    <label for="Country" class="col-sm-2 form-control-label">Country:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="Country" ng-model="CountryCode" placeholder="*">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Office" class="col-sm-2 form-control-label">Office:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="Office" ng-model="OfficeCode" placeholder="*">
                    </div>
                </div>
                @{Html.RenderAction("GroupCodeSelectView", "Admin");}
            </form>
        </div>
        <div id="modalBtn" class="modal-footer">
            <button class="btn btn-primary" type="button" ng-disabled="AddAssgntForm.$invalid" ng-click="save()">Save</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </div> 
</script>

<!-- Update Assignment Row Modal HTML -->
<script type="text/ng-template" id="UpdtGrpTemplate.html">
    <div id="UpdtGrpTemplate">
        <div class="modal-header">
            <h3 class="modal-title">Add Assignment Group</h3>
        </div>
        <div class="modal-body">
            <form name="UpdtGrpAssgntForm" novalidate">
                <div class="form-group row">
                    <label for="System" class="col-sm-2 form-control-label">System:</label>
                    <div class="col-sm-8">
                        <input type="text" id="SystemCode" class="form-control" ng-model="SystemCode" placeholder="*">
                    </div>
                </div>
                @{Html.RenderAction("SupplierSelectView", "Admin");}
                <div class="form-group row">
                    <label for="Country" class="col-sm-2 form-control-label">Country:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="Country" ng-model="CountryCode" placeholder="*">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Office" class="col-sm-2 form-control-label">Office:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="Office" ng-model="OfficeCode" placeholder="*">
                    </div>
                </div>
                @{Html.RenderAction("GroupCodeSelectView", "Admin");}
            </form>
        </div>
        <div id="modalBtn" class="modal-footer">
            <button class="btn btn-primary" type="button" ng-disabled="AddAssgntForm.$invalid" ng-click="save()">Save</button>
            <button class="btn btn-danger" type="button" ng-click="delete()">Delete</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>

        </div>
    </div>
</script>

<!-- New UserRole Modal HTML -->
<script type="text/ng-template" id="UsrRowTemplate.html">
    <div id="UsrRoleTemplate">
        <div class="modal-header">
            <h3 class="modal-title">Add User Role</h3>
        </div>
        <div class="modal-body">
            <form name="AddUsrForm" novalidate>
                <div class="form-group row" ng-class="{ 'has-error' : AddUsrForm.GroupCode.$invalid && AddUsrForm.GroupCode.$touched }">
                    <label for="GroupCode" class="col-sm-2 form-control-label">Group:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="GroupCode" ng-model="Group" ng-minlength="3" ng-maxlength="8" required>{{}}
                        <p ng-show="AddUsrForm.GroupCode.$error.minlength" class="help-block">Group Code is too short.</p>
                        <p ng-show="AddUsrForm.GroupCode.$error.maxlength" class="help-block">Group Code is too long.</p>
                        <p ng-show="AddUsrForm.GroupCode.$touched && !AddUsrForm.GroupCode.$dirty" class="help-block">Group Code is required.</p>
                    </div>
                </div>
                @{Html.RenderAction("UserSelectView", "Admin");}
                <div class="form-group row">
                    <label for="Role" class="col-sm-2 form-control-label">Role:</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="Role" name="UserRole" required>
                            <option value="Standard">Standard</option>
                            <option value="Admin">Admin</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer form-group">
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                    <button class="btn btn-primary" type="button" ng-disabled="AddUsrForm.$invalid" ng-click="save()">Save</button>
                </div>
            </form>
        </div>
    </div>
</script>

<!-- New UserRole Modal HTML -->
<script type="text/ng-template" id="UptUsrTemplate.html">
    <div id="UsrRoleTemplate">
        <div class="modal-header">
            <h3 class="modal-title">Add User Role</h3>
        </div>
        <div class="modal-body">
            <form name="AddUsrForm" novalidate>
                <div class="form-group row" ng-class="{ 'has-error' : AddUsrForm.GroupCode.$invalid && AddUsrForm.GroupCode.$touched }">
                    <label for="GroupCode" class="col-sm-2 form-control-label">Group:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="GroupCode" ng-model="GroupCode" ng-minlength="3" ng-maxlength="8" required>
                        <p ng-show="AddUsrForm.GroupCode.$error.minlength" class="help-block">Group Code is too short.</p>
                        <p ng-show="AddUsrForm.GroupCode.$error.maxlength" class="help-block">Group Code is too long.</p>
                        <p ng-show="AddUsrForm.GroupCode.$touched && !AddUsrForm.GroupCode.$dirty" class="help-block">Group Code is required.</p>
                    </div>
                </div>
                @{Html.RenderAction("UserSelectView", "Admin");}
                <div class="form-group row">
                    <label for="Role" class="col-sm-2 form-control-label">Role:</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="UserRole" ng-model="UserRole">
                            <option value="Standard">Standard</option>
                            <option value="Admin">Admin</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer form-group">
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                    <button class="btn btn-danger" type="button" ng-click="delete()">Delete</button>
                    <button class="btn btn-primary" type="button" ng-disabled="AddUsrForm.$invalid" ng-click="save()">Save</button>
                </div>
            </form>
        </div>
    </div>
</script>

<script type="text/ng-template" id="DeleteConfirm.html">
    <div class="modal-header">
        <h3 class="modal-title">Are you sure you want to <b>Delete</b> ?</h3>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="yes()">YES</button>
        <button class="btn btn-warning" type="button" ng-click="no()">NO</button>
    </div>
</script>