﻿@model List< PortalAPI.AEPortalModels.AEAssignTask >

<div class="form-group row" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <label for="Role" class="col-sm-2 form-control-label">Group:</label>
    <div class="col-sm-8">
        <select id="groupCodes" class="form-control" name="GroupCode" ng-model="GroupCode" ng-change="GroupSelect()" required>
            @foreach (var group in Model) {
                <option id=@group.Id value=@group.GroupCode label=@group.GroupCode></option>
            }
        </select>
    </div>
</div>