﻿@model IList<String>

<ul class="nav nav-pills nav-stacked">
    @for (int i = 0; i < Model.Count; i++) {
        var liId = new String(@Model[i].ToCharArray()).Replace(" ", string.Empty);

        if (i == 0) {
            <li id=@liId class="active" ng-click="navSelect($event)"><a href="#">@Model[i]</a></li>
        } else {
            <li id=@liId ng-click="navSelect($event)"><a href="#">@Model[i]</a></li>
        }
    }
</ul>
