﻿@model List<PortalAPI.AEPortalModels.AEAssignTask>

<div class="form-group row" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <label for="Role" class="col-sm-2 form-control-label">Supplier:</label>
    <div class="col-sm-8">
        <select id="SupplierInfo" class="form-control" name="SupplierName" ng-model="SupplierName" required>
            @foreach (var supplier in Model) {
                var SupplierNameCnty = supplier.SupplierName + " - " + supplier.CountryCode;
                <option id=@supplier.SupplierId value=@supplier.SupplierName>@SupplierNameCnty</option>
            }
        </select>
    </div>
</div>
