﻿@model List<AEPortal.Manifest.Models.AEUser>

<div class="form-group row" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    
    <label for="Role" class="col-sm-2 form-control-label">Assignee:</label>
    <div class="col-sm-8">
        <select class="form-control" name="UserName" ng-model="UserName" required>
            @foreach (var user in Model) {
                <option value="@user.AccountName">@user.DisplayName</option>
            }
        </select>
    </div>
</div>