﻿<div ng-app="adminApp">
    <div ng-controller="AutoAssignController">
        <div class="row">
            <div id="aeNavMenu" class="col-lg-2">
                @{Html.RenderAction("NavMenuView", "Admin");}
            </div>
            <div style="float:left" class="col-lg-10">
                <div id="AutoAssignGrid" ui-grid="gridOptions"
                     ui-grid-edit class="grid" ui-grid-auto-resize>
                </div>
                <button type="button" id="addData" class="btn btn-success" ng-click="addData()">Add Data</button>
            </div>
        </div>
        @*Partial needs to be in AutoAssign Controller for fields to populate correctly*@
        @Html.Partial("~/Manifest/Views/Admin/_addRowTemplates.cshtml")
    </div>
    <div id="adminLoader">
        @Html.Partial("~/Manifest/Views/Admin/AngularServices.cshtml")
    </div>
</div>