﻿<div ng-app="AEServices">
    <!-- Loader Spinner HTML -->
    <div class="loading-spiner-holder modal" data-loading>
        <div class="loading-spiner">
            <img src="/Images/ajax_loader.gif" class="ajax-loader" alt="loader" />
        </div>
    </div>

    <!-- Modal HTML -->
    <script type="text/ng-template" id="EmailTemplate.html">
        <div>
            <div>
                <h4>{{selectedRow.Subject}}</h4>
            </div>
        </div>
        <div>
            <div class="from">
                From: <span> {{selectedRow.From}}</span>
                <span class="timeStamp"> {{selectedRow.SentDateTime}} </span>
            </div>
            <div>To: {{selectedRow.To}}</div>
            <div>
                Cc: {{selectedRow.Cc}}
            </div>
            <br />
        </div>
        <div class="body">
            <pre>{{selectedRow.Body}}</pre>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>
</div>

