﻿@{
  ViewBag.Title = "ChangeLog";
}

<h3>Change Log</h3>
<p>
  <h5>Version 1.06 Released: Feb 24 2016 1:00 pm</h5>
  <ul>
    <li>
      Allow setting status for vouchers.
    </li>
    <li>
      Add ability to see OperatorId.
    </li>
    <li>
      New task creation reason 'Voucher in Attention'.
    </li>
    <li>
      Layout improvements.
    </li>
  </ul>
</p>

<p>
  <h5>Version 1.05 Released: Feb 4 2016 8:00 am</h5>
  <ul>
    <li>
      Added keyboard shortcuts.
    </li>
    <li>
      Change email template to add "Reminder" to the subject if supplier has not responded in 24 hours.
    </li>
  </ul>
</p>

<p>
  <h5>Version 1.04 Released: Feb 1 2016 3:30 pm</h5>
  <ul>
    <li>
      Show to and From address when sending emailing suppliers.
    </li>
  </ul>
</p>

<p>
  <h5>Version 1.03 Released: Jan 27 2016 10:30 am</h5>
  <ul>
    <li>
      Added ability to switch between filters.
    </li>
    <li>
      Using quicksearch erases current filters.
    </li>
  </ul>
</p>

<p>
  <h5>Version 1.02 Released: Jan 26 2016 12:30 pm</h5>
  <ul>
    <li>
      Add default filters for AU and non AU.
    </li>
    <li>
      Fix bug with snapshots not emailing correct supplier.
    </li>
  </ul>
</p>

<p>
  <h5>Version 1.01 Released: Jan 25 2016 11:00 am</h5>
  <ul>
    <li>
      Add alert button only enabled after entering in data
    </li>
    <li>
      Improve performance of assigning users.
    </li>
    <li>
      Friendlier display values for some search fields.
    </li>
    <li>
      Can no longer set tasks to active status.
    </li>
  </ul>
</p>

<p>
  <h5>Version 1.0 Released: Jan 18 2016 12:00 am</h5>
  <ul>
    <li>
      Condensed buttons for viewing voucher pdf, email, and back comments.
    </li>
    <li>
      Removed ability to confirm cancels for supplier change tasks.
    </li>
  </ul>
</p>