﻿@{
  ViewBag.Title = "Index";
}

<a id="pageTop"></a>
<div id="userGuideWrapper">
  <h1>User Guide</h1>
  <h2>Table of Contents</h2>
  <div class="leftPadding25">
    <a class="tableOfContentsItem" href="#NavigatingToTheSupplierPortal">Navigating to the Supplier Portal</a><br />
    <a class="tableOfContentsItem" href="#MainScreen">Main Screen</a><br />
    <a class="tableOfContentsItem" href="#TheGrid">The Grid</a><br />
    <a class="tableOfContentsItem" href="#ViewRequests">View Requests</a><br />
    <a class="tableOfContentsItem" href="#AdvancedSearch">Advanced Search</a><br />
    <a class="tableOfContentsItem" href="#RequestDetails">Request Details</a><br />
    <a class="tableOfContentsItem" href="#NavigatingPages">Navigating Pages</a><br />
    <a class="tableOfContentsItem" href="#DisplayingAdditionalOrFewerRows">Displaying Additional or Fewer Rows</a><br />
    <a class="tableOfContentsItem" href="#DisplayingRequestDetails">Displaying Request Details</a><br />
    <a class="tableOfContentsItem" href="#ActioningRequestsAndReservations">Actioning Requests and Reservations</a><br />
    <a class="tableOfContentsItem" href="#ContactingAE">Contacting AutoEurope</a><br />
    <a class="tableOfContentsItem" href="#GettingHelp">Getting Help</a><br />
    <a class="tableOfContentsItem" href="#LoggingOut">Logging Out</a><br />
    <br />
  </div>
  <a id="NavigatingToTheSupplierPortal"></a>
  <h2>Navigating to the Supplier Portal</h2>
  <a href="#pageTop" class="glyphicon glyphicon-arrow-up" title="Go back to the table of contents."></a>
  <p>
    To log onto the Supplier Portal point your browser to https://supplier.autoeurope.com and enter your user name and 
  password. Note that both the user name and password are case sensitive.
  </p>
  <a id="MainScreen"></a>
  <h2>Main Screen</h2>
  <a href="#pageTop" class="glyphicon glyphicon-arrow-up" title="Go back to the table of contents."></a>
  <p>
    Upon entering the Supplier Portal the “Pending Requests” list will be displayed.<br />
    <img src="../../Images/UserGuide/MainScreen.png" alt="" /><br />
  </p>
  <a id="TheGrid"></a>
  <h2>The Grid</h2>
  <a href="#pageTop" class="glyphicon glyphicon-arrow-up" title="Go back to the table of contents."></a>
  <p>
    The list of vouchers appears in the grid below.<br />
    The voucher list is displayed in the grid initially sorted by ascending Pickup Date. Clicking on a column title will sort 
  the list by that column in an ascending order (A to Z, 1-100, etc.). After sorting a column an arrow will appear next to the column title indicating the current sort order.
  <img src="../../Images/UserGuide/Grid.png" alt="" /><br />
  </p>
  <a id="ViewRequests"></a>
  <h2>View Requests</h2>
  <a href="#pageTop" class="glyphicon glyphicon-arrow-up" title="Go back to the table of contents."></a>
  <p>
    There are several predefined searches that can be performed such as viewing Pending Requests and Confirmed Reservations. 
  These searches are accessed via the Search Toolbar and require only a single click to function.
  <img src="../../Images/UserGuide/SearchToolbar.png" alt="" /><br />
  </p>
  <a id="AdvancedSearch"></a>
  <h2>Advanced Search</h2>
  <a href="#pageTop" class="glyphicon glyphicon-arrow-up" title="Go back to the table of contents."></a>
  <p>
    To perform an advanced search click the chevron on the left end of the Search Toolbar. This will show the expanded 
  search options. Define the search criteria in the search panel and click the Search button. The results will appear in the grid below.
  <img src="../../Images/UserGuide/ExpandedSearchPanel.png" alt="" /><br />
  </p>
  <a id="RequestDetails"></a>
  <h2>Request Details</h2>
  <a href="#pageTop" class="glyphicon glyphicon-arrow-up" title="Go back to the table of contents."></a>
  <p>
    To view the details of a voucher, such as it's request history, click on the desired grid row. The voucher details will 
  appear below the grid.<br />
  </p>
  <a id="NavigatingPages"></a>
  <h2>Navigating Pages</h2>
  <a href="#pageTop" class="glyphicon glyphicon-arrow-up" title="Go back to the table of contents."></a>
  <p>
    If the grid contains multiple pages those pages can be view via the “Page Navigator” in the lower left hand corner of the 
  grid.
  <img src="../../Images/UserGuide/GridWithPaging.png" alt="" /><br />
  </p>
  <a id="DisplayingAdditionalOrFewerRows"></a>
  <h2>Displaying Additional or Fewer Rows</h2>
  <a href="#pageTop" class="glyphicon glyphicon-arrow-up" title="Go back to the table of contents."></a>
  <p>
    The “Number of Rows” selector in the bottom right hand corner of the grid allows for the display of 5, 10, or 20 rows of 
  requests on a single page.
  <img src="../../Images/UserGuide/GridWithPaging.png" alt="" /><br />
  </p>
  <a id="DisplayingRequestDetails"></a>
  <h2>Displaying Request Details</h2>
  <a href="#pageTop" class="glyphicon glyphicon-arrow-up" title="Go back to the table of contents."></a>
  <p>
    To view the details for a specific request click on the desired grid row. The request details will be displayed below the current grid.
  <img src="../../Images/UserGuide/VoucherDetails.png" alt="" /><br />
  </p>
  <p>
    The request detail panel below the grid is comprised of two parts- the Request Navigator on the left and the Request 
  Details on the right.
  </p>
  <p>
    The Request Navigator displays the request history for the selected voucher. Click a row in the Request Navigator 
  to view the details of a specific request. The request details are displayed in the panel to the right of the navigator.<br />
  </p>
  <div class="leftPadding25">
    Requests can have one of several statuses assigned to them:
  <ul>
    <li>Accepted<p>The request has been accepted.</p>
    </li>
    <li>Rejected<p>The request has been denied.</p>
    </li>
    <li>Expired<p>The request was never actioned and has since been replaced by a more recent one.</p>
    </li>
  </ul>
    Reservations can have one of several statuses assigned to them:
  <ul>
    <li>Pending<p>The reservation has not been actioned.</p>
    </li>
    <li>Confirmed<p>The reservation has been confirmed.</p>
    </li>
    <li>Denied<p>The reservation has been denied.</p>
    </li>
  </ul>
  </div>
  <br />
  <a id="ActioningRequestsAndReservations"></a>
  <h2>Actioning Requests and Reservations</h2>
  <a href="#pageTop" class="glyphicon glyphicon-arrow-up" title="Go back to the table of contents."></a>
  <p>
    Actioning a request is performed via the form in the right side of the Request Details panel.
  If the current request is associated with an un-actioned reservation (i.e. a create request) the action options will be either Confirm 
  or Deny. If the reservation has been confirmed the Action options will be Accept or Reject. In either case the Action must be selected 
  before any of the form fields will be available. In all cases the request is not actioned until the form's Submit button is clicked.
  </p>
  <h4>Confirming a Reservation</h4>
  <p>
    There are two ways to confirm a reservation. The first is by confirming a create request. The second is by confirming a modify request 
  that has replaced an original create request. An example of the second case would be if a create request has not been actioned, but a 
  modify request is submitted on the same voucher. In this case the modify request is effectively a create request. When confirming a 
  reservation the Reservation Number and Actioned By fields are required to be filled in.
  </p>
  <h4>Denying a Reservation</h4>
  <p>
    To deny a reservation select the Deny action on the create request for the voucher. Denying a modify request that supercedes an original
  create request (see the example in Confirming a Reservation) will also deny the reservation.
  </p>
  <h4>Accepting a Request on a Confirmed Reservation
  </h4>
  <p>
    Once a reservation is confirmed (see Confirming a Reservation) all subsequent modify requests are either Accepted or Rejected. There are 
  two types of requests that apply to confirmed reservations- either Modify or Cancel. A Modify request is a request to alter some aspect 
  of a previously confirmed reservation such as adding or removing a ski rack or snow tires. A Cancel request is a notification that 
  AutoEurope has canceled the reservation. To accept a request select the Accept Action, fill in the required form's fields.
  </p>
  <h4>Rejecting a Request on a Confirmed Reservation</h4>
  <p>
    To reject a request select the Reject Action and fill in the form's required fields. Note that rejecting a request on a confirmed 
  reservation does not reject or cancel the reservation- only the current request is rejected.
  </p>
  <a id="ContactingAE"></a>
  <h2>Contacting AutoEurope</h2>
  <a href="#pageTop" class="glyphicon glyphicon-arrow-up" title="Go back to the table of contents."></a>
  <p>
    To contact AutoEurope click the Contact Us link at the top right corner of the Supplier Portal site. This link will attempt to open 
  the currently configured email application on the local computer. If no email application is configured an error message will be 
  displayed. In this case right click on the Contact Us link and select Copy Email Address from the popup menu. The email address 
  can now be pasted into whatever email application or website is prefered.
  <img src="../../Images/UserGuide/AuthenticatedHeader.png" alt="" />
  </p>
  <a id="GettingHelp"></a>
  <h2>Getting Help</h2>
  <a href="#pageTop" class="glyphicon glyphicon-arrow-up" title="Go back to the table of contents."></a>
  <p>
    To get help with the Supplier Portal click the User Guide link in the top right corner of the page. The User Guide will open in 
  either another tab or browser window depending on the local browser configuration. Clicking the Close link will close the User Guide.
  </p>
  <a id="LoggingOut"></a>
  <h2>Logging out of the Supplier Portal</h2>
  <a href="#pageTop" class="glyphicon glyphicon-arrow-up" title="Go back to the table of contents."></a>
  <p>
    To log out of the Supplier Portal click the Log Out link in the top right corner of the main page.
  </p>
</div>
