﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Supplier Portal @{if (ViewBag.GetType().GetProperty("Title") != null) { @ViewBag.Title} }</title>
  @Styles.Render("~/Content/Css")
  @Styles.Render( "~/bundles/SupplierPortal/css" )
  <link rel="shortcut icon" type="image/ico" href="~/Images/favicon.ico">
</head>
  <body>
    @{
      @Html.Partial( "~/SupplierPortal/Views/Shared/Header.cshtml" )
    }
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <h3>An unexpected error has occured please contact us if this keeps occuring</h3>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
    <div class="body-content">
      @RenderBody()
      <hr />
      <footer style="clear: both">
        <p style="padding-top: 10px">&copy; @DateTime.UtcNow.Year - AutoEurope Supplier Portal</p>
      </footer>
    </div>
      @Scripts.Render("~/bundles/Js")
      @Scripts.Render("~/bundles/SupplierPortal/js")
      @RenderSection("Scripts", false)
  </body>
</html>