﻿@using SICommon.Extensions
<div class="navbar">
  <div style="margin-bottom: 5px;padding-top: 2px;">
    <img src="/Images/autoeurope-logo-blue.png" alt=""/>
  </div>
  <div class="body-content">
    <div class="navbar-collapse collapse">
      <ul id="navMenu" class="nav nav-pills">
        @{
          var controllerName = ViewContext.RouteData.Values["controller"].ToString();
        }
        <li role="presentation" class='@(controllerName == "Requests" ? "active" : "")'>@Html.ActionLink( "Requests and Reservations", "Index", "Requests", null, new {title = "View requests and reservations", style = "font-size:1.2em"} )</li>
        @if ( User.IsInAnyRole( @"AEMAINE\AE-MIS", @"AEMAINE\SupplierPortalAdmin" ) ) {
          <li role="presentation" class='@(controllerName == "EditSuppliers" ? "active" : "")'>@Html.ActionLink( "Edit Supplier Settings", "Index", "EditSuppliers", null, new {title = "Edit Supplier Settings", style = "font-size:1.2em"} )</li>
        }
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/Manifest/Tasks" target="_blank">Tasks Page</a></li>
      </ul>
    </div>
  </div>
</div>