﻿<div ng-app="SPServices">
    <!-- Loader Spinner HTML -->
    <div class="loading-spiner-holder modal" data-loading>
        <div class="loading-spiner">
            <img src="/Images/ajax_loader.gif" class="ajax-loader" alt="loader" />
        </div>
    </div>
</div>