﻿<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/Css")
    @Styles.Render("~/Content/Manifest/css")
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supplier Portal @ViewBag.Title</title>
    <link rel="shortcut icon" type="image/ico" href="~/Images/favicon.ico">
    <meta name="AEPortal_Layout" content="Header and Footer" />
</head>
<body>
    <div>
        @Html.Partial("~/Manifest/Views/Shared/Header.cshtml")
    </div>
    <div>
        @RenderBody()
    </div>
    <footer style="clear: both">
        <p style="padding-top: 10px">&copy; @DateTime.UtcNow.Year - AutoEurope Portal</p>
    </footer>

    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h3></h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/Js")
    @Scripts.Render("~/bundles/Manifest/js")
</body>
</html>