﻿@using System.Globalization
@using SICommon.Extensions
@model List<SICommon.Models.BackComment>

<ul id="commentsList" class="list-group">
  @for ( var i = 0; i < Model.Count; i++ ) {
    var backComment = Model[i];
    <li class="list-group-item" data-commentid="@i">@CultureInfo.CurrentCulture.TextInfo.ToTitleCase(backComment.Username) on @backComment.DateMade.ToSupplierPortalDateFormat(), type: @backComment.Type</li>
  }
</ul>

<div id="commentsArea">
  @for ( var i = 0; i < Model.Count; i++ ) {
    var backComment = Model[i];
    <div class="hidden" data-commentid="@i">@(new HtmlString(backComment.Comment.Replace("\r\n", "<br />").Replace("\n", "<br />")))</div>
  }
</div>