﻿@using SICommon.Extensions
@model List<SICommon.Models.Email>

@if ( Model.Any() ) {
  <ul id="emailsList" class="list-group">
    @for ( var i = 0; i < Model.Count; i++ ) {
      var emailInfo = Model[i];
      <li class="list-group-item" data-emailid="@i">@emailInfo.Subject on @emailInfo.SentDateTime.ToSupplierPortalFormat() @(emailInfo.Username == null ? "" : " by " + emailInfo.Username)</li>
    }
  </ul>

  <div id="emailsArea">
    @for ( var i = 0; i < Model.Count; i++ ) {
      var emailInfo = Model[i];
      <div class="hidden" data-emailid="@i">
        <span>FROM: @emailInfo.From</span>
        <br/>
        <span>TO: @emailInfo.To (@emailInfo.SupplierName)</span>
        <br />
        <span>CC: @emailInfo.CC</span>
        <br/> <br/>
        <span>@(new HtmlString( emailInfo.Body.Replace( "\r\n", "<br />" ).Replace( "\n", "<br />" ) ))</span>
      </div>
    }
  </div>
} else {
  <h4>No emails found</h4>
}