﻿@using SICommon.Extensions
<div class="navbar">
  <div style="margin-bottom: 5px;padding-top: 2px;">
    <img src="/Images/autoeurope-logo-blue.png" alt=""/>
  </div>
  <div class="body-content">
    <div class="navbar-collapse collapse">
        <ul id="navMenu" class="nav nav-pills">
            @{
                var controllerName = ViewContext.RouteData.Values["controller"].ToString();
            }
            <li role="presentation" class='@(controllerName == "Admin" ? "active" : "")'>
                @Html.ActionLink("AE Admin", "Index", "Admin", null, new { title = "Admin", style = "font-size:1.2em" })
            </li>
            <li role="presentation" class='@(controllerName == "Tasks" ? "active" : "")'>
                @Html.ActionLink("AE Tasks", "Index", "Tasks", null, new { title = "Tasks", style = "font-size:1.2em" })
            </li>
            @if (User.IsInAnyRole(@"AEMAINE\AE-MIS", @"AEMAINE\SupplierPortalAdmin")) {
                <li role="presentation" class='@(controllerName == "Reports" ? "active" : "")'>
                    @Html.ActionLink("AE Reports", "Index", "Reports", null, new { title = "Reports", style = "font-size:1.2em" })
                </li>
            }
        </ul> 
      <ul class="nav navbar-nav navbar-right" >
        <li><a href="/Manifest/ChangeLog" target="_blank">Change Log</a></li>
        <li><a href="/Manifest/Shortcuts" target="_blank">Shortcuts</a></li>
      </ul>
    </div>
  </div>
</div>